
{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="page-header">
      <h1>IPhO Votings</h1>
    </div>
    
    <div id="alerts-container">
        {% if success %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
          {{ success|safe }}
        </div>
        {% endif %}
    </div>
    
    <div class="row">
	<div class="col-md-3">
	  {% include "ipho_poll/panels/drafted_questions.html" %}
	</div>
	<div class="col-md-3">
	  {% include "ipho_poll/panels/live_questions.html" %}
	</div>

	<div class="col-md-3">
	  {% include "ipho_poll/panels/closed_questions.html" %}
	</div>
    </div>

    <div>
{% endblock %}
