
{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="page-header">
      <h1>IPhO Votings</h1>
    </div>

    <div id="alerts-container">
        {% if success %}
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
          {{ success|safe }}
        </div>
        {% endif %}
    </div>

    <div class="row">
       <div class="col-md-3">
         {% include "ipho_poll/panels/drafted_questions.html" %}
	     </div>
	     <div class="col-md-3">
	        {% include "ipho_poll/panels/live_questions.html" %}
	     </div>
	     <div class="col-md-3">
	        {% include "ipho_poll/panels/closed_questions.html" %}
	     </div>
    </div>
</div>
{% endblock %}


{% block extra-script %}
<script>
//Fill Question modal with Form
$('#question-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var href = button.attr('href');
    var modal = $(this);

    modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
    modal.find('.modal-body').html('');

    $.ajax({
        url: href,
        dataType: 'json',
        success: function(data) {
            modal.find('.modal-title').text(data['title']);
            modal.find('form').attr('action', href);
            modal.find('.modal-body').html(data['form']);
            modal.find("[data-toggle=popover]").popover(); // activate popover
        },
    });
});

</script>
{% endblock %}
