
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra-head %}
    <link href="{% static "bootstrap/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet"/>
    <link href="{% static "mathquill/mathquill.css" %}" rel="stylesheet">
    <style>
      .label-setting-active {
        color:black;
        background-color: #ffbf00;
      }
      .label-setting-inactive {
        color:black;
        background-color: rgb(127, 158, 251);
      }
      .label{
        cursor: default;
      }
    </style>
{% endblock %}

{% block content %}
{# modal for creating a new voting and editing votings. #}
<div class="modal fade" id="voting-modal" tabindex="-1" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="modalLabel"></h4>
      </div>
      <form role="form" method="post" action="">{% csrf_token %}
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>

{# modal for deleting votings #}
<div class="modal fade" id="delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="model-title">Are you sure?</h4>
      </div>
      <div class="modal-body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-confirm="delete"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
      </div>
    </div>
  </div>
</div>

{# modal for editing voting rooms. #}
<div class="modal fade" id="voting-room-modal" tabindex="-1" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="room-modalLabel"></h4>
      </div>
      <form role="form" method="post" action="" id="voting-room-form">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>


<div class="container">
    <div class="page-header">
      <h1>Votings
        {% if rooms %}
          <small>Room:</small>
          {% if rooms|length > 1 %}
          {% include "ipho_poll/partials/choose-room-dropdown.html" with active_room=active_room rooms=rooms view_name=view_name only %}
          {% else %}
          <small>
            {{ active_room.name}}
          </small>
          {% endif %}
          {% if user.is_superuser %}
          <small>
            <button class="btn btn-default" data-toggle="modal" data-target="#voting-room-modal" data-remote="false" href="{% url 'poll:edit-room' room_id=active_room.pk %}"><i class="fa fa-pencil fa-fw"></i>Edit Room</button>
          </small>
          {% endif %}
        {% endif %}
      </h1>
      {% if rooms and user.is_superuser %}
      <h3>
        Visibility:
        {% if active_room.visibility > 0 %}
        <span class="label label-setting-active">{{ active_room.get_visibility_display }}</span>
        {% elif active_room.visibility == 0 %}
        <span class="label label-setting-inactive">{{ active_room.get_visibility_display }}</span>
        {% else %}
        <span class="label label-default">{{ active_room.get_visibility_display }}</span>
        {% endif %}
      </h3>
      {% endif %}
    </div>

    <div id="alerts-container"></div>

    <div class="row">
       <div class="col-md-12 vote-voting-container" id="drafted-container" data-href="{% url 'poll:staff-index-partials' qtype='drafted' room_id=active_room.pk|default:'' %}"></div>
       <div class="col-md-12 vote-voting-container" id="open-container" data-href="{% url 'poll:staff-index-partials' qtype='open' room_id=active_room.pk|default:'' %}"></div>
       <div class="col-md-12 vote-voting-container" id="closed-container" data-href="{% url 'poll:staff-index-partials' qtype='closed' room_id=active_room.pk|default:'' %}"></div>
    </div>
</div> <!-- container -->
{% endblock %}


{% block extra-script %}
<script src="{% static "moment.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "jquery.countdown.js" %}"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
    });
</script>
<script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{% static "mathquill_alpha/mathquill.min.js" %}"></script>
<script src="{% static "ckeditor/ckeditor.js" %}"></script>
<script src="{% static "ckeditor/adapters/jquery.js" %}"></script>

<script>
    CKEDITOR.plugins.addExternal( 'mathjax-mathquill', '{% static "ckeditor_plugins/mathjax-mathquill/" %}', 'plugin.js' );

    CKEDITOR.config.toolbar = [
            [ 'Bold', 'Italic', 'Underline', 'RemoveFormat', 'Styles', 'BulletedList', 'NumberedList', 'Table', '-', 'Mathjax-mathquill', '-', 'Source']
        ];

    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.config.resize_enabled = false;
    CKEDITOR.config.extraPlugins = 'autogrow,widget,bidi,mathjax-mathquill,colorbutton';
    CKEDITOR.config.removePlugins = 'elementspath,contextmenu,tabletools,liststyle';
    // CKEDITOR.config.extraAllowedContent = 'span(math-tex)';
    CKEDITOR.config.width = '100%';
    CKEDITOR.config.autoGrow_onStartup = true;
    CKEDITOR.config.autoGrow_minHeight = 0;
    CKEDITOR.config.autoGrow_bottomSpace = 10;
    CKEDITOR.config.entities = false;
    CKEDITOR.config.htmlEncodeOutput = false;
    CKEDITOR.config.basicEntities = false;
    CKEDITOR.config.entities_latin = false;
    CKEDITOR.config.entities_greek = false;
    CKEDITOR.config.disableNativeSpellChecker = false;
    CKEDITOR.config.autoParagraph = false;
    CKEDITOR.config.mathJaxLib = '{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML';
    CKEDITOR.config.MathQuillLib = '{% static "mathquill_alpha/mathquill.min.js" %}';
    CKEDITOR.config.MathQuillCss = '{% static "mathquill_alpha/mathquill.css" %}';
    CKEDITOR.config.MathQuilljQuery = '{% static "jquery/js/jquery-1.11.2.min.js" %}';
</script>

<script>
$('document').ready(function(){
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    //Fill Voting modal with Form when modal is shown
    $('#voting-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                if (data['modal_body_text']) {
                  var modal_body_text = "<div><p>" + data['modal_body_text'] + "</p></div>";
                  modal.find('.modal-body').append(modal_body_text);
                }
                modal.find('.modal-body').append(data['form']);
                modal.find('.modal-body textarea').ckeditor();
                $('#modal-datetimepicker').datetimepicker({
                    format: "MM/DD/YYYY HH:mm:ss",
                    inline: true,
                    sideBySide: true,
                    defaultDate: moment().add(10, 'seconds'),
                    minDate: moment().add(0, 'minutes'),
                });
                $('#modal-utc_offset').val(moment().utcOffset());
                modal.find('.quick-end-time').each(function() {
                  var $this=$(this);
                  var minutes = $this.data('min');
                  $this.append('<button class="btn btn-default btn-sm">In '+minutes+' minutes</button> ').on('click', function (evt){
                    evt.preventDefault();
                    $('#modal-datetimepicker').data("DateTimePicker").date(moment().add(minutes, 'minutes'));
                  });
                });
            },
        });
    });


    //Defines what happens when submit is pressed in the form modal
    $(document).on('submit', '#voting-modal form', function(event) {
        event.preventDefault();
        var form = event.target;
        var $form = $(form);
        $form.find(':submit').attr("disabled", true);

        $.ajax({
            url: form.action,
            type: form.method,
            data: new FormData($form.get(0)),
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                $form.find(':submit').attr("disabled", false);
                if (!data['success']) {
                    $('#voting-modal .modal-body').html(data['form']);
                    $('#voting-modal .modal-body textarea').ckeditor();
                    $('#modal-utc_offset').val(moment().utcOffset());
                    $('#modal-datetimepicker').datetimepicker({
                        format: "MM/DD/YYYY HH:mm:ss",
                        inline: true,
                        sideBySide: true,
                        defaultDate: moment().add(10, 'seconds'),
                        minDate: moment().add(0, 'minutes'),
                    });
                    return;
                }
                else {

                    $('#voting-modal').modal('hide');

                    // just reload tables
                    reload_tables();

                    $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
                }
            },
            error: function (jqXHR, exception) {
              console.log(jqXHR);
              console.log(exception);
              $form.find(':submit').attr("disabled", false);
            },
        });
    });

    // Gives the delete modal some attributes of the delete button in the table
    $('#delete-modal').on('show.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal
        modal.data('voting-pk', button.data('voting-pk'));
        modal.data('delete-href', button.attr('href'));
        modal.find('.modal-body').text(
                                    'The voting #' + button.data('voting-pk') +
                                    ' will be deleted permanently.'
                                    )
    });

    // Delete a voting when delete button is clicked in the modal
    $(document).on('click', '#delete-modal button[data-confirm="delete"]', function(event){
        event.preventDefault();
        var modal = $('#delete-modal');

        $.ajax({
            url: modal.data('delete-href'),
            cache: false,
            proccessData: false,
            contentType: false,
            success: function(data) {
                if (data['success']) {
                    $('#voting-'+modal.data('voting-pk')).remove();
                    modal.data('voting-pk', null);
                    modal.data('delete-href', null);
                    modal.modal('hide');
                    $('#alerts-container').prepend('<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

                }
                else {
                    modal.find('.modal-title').text("Ups");
                    modal.find('.modal-body').text(data['message']);
                }
            }
            // error: function(){
            //     modal.find('.modal-body').text('error');
            // }
        })
    });


    //Fill VotingRoom modal with Form when modal is shown
    $('#voting-room-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
            },
        });
    });

    //Submit of the VotingRoom modal
    $(document).on('submit', '#voting-room-modal #voting-room-form', function(event) {
        event.preventDefault();
        var form = event.target;
        $form = $("#voting-room-form");
        $form.find(':submit').attr("disabled", true);
        $.ajax({
            url: form.action,
            type: form.method,
            data: $form.serialize(),
            success: function(data) {
                $form.find(':submit').attr("disabled", false);
                if (!data['success']) {
                    $('#voting-room-modal .modal-body').html(data['form']);
                    return;
                }
                else {
                    $('#voting-room-modal').modal('hide');
                    // reload page
                    location.reload()
                }
            },
            error: function (jqXHR, exception) {
              console.log(jqXHR);
              console.log(exception);
              $form.find(':submit').attr("disabled", false);
            },
        });
    });

    function reload_tables() {
      $('.vote-voting-container').each(function () {
        var container = $(this);
        var href = container.data('href');
        $.ajax({
            url: href,
            dataType: 'html',
            success: function(data) {
              container.html(data);

              // Gives all element of class .btn a tooltip if they have a title attribute
              $('.btn').tooltip({containter: ".parent"});

              // Activate countdowns
              $('.countdown').each(function(i) {
                  var end_date = $(this).data('end-date');
                  end_date = new moment(end_date).toDate();
                  $(this).countdown({
                      date: end_date,
                      render: function (date) {
                        var countdown = "";
                        if (date.days != 0) {
                          if (date.days == 1) {
                            countdown += date.days  + " day, ";
                          }
                          else {
                            countdown += date.days  + " days, ";
                          }
                        }
                        if (date.hours != 0 || date.days !=0) {
                          if (date.hours == 1) {
                            countdown += this.leadingZeros(date.hours) + " hour, ";
                          }
                          else {
                            countdown += this.leadingZeros(date.hours) + " hours, ";
                          }
                        }
                        if (date.min != 0 || date.hours !=0 || date.days !=0){
                          countdown += this.leadingZeros(date.min) + " min and ";
                        }
                        countdown += this.leadingZeros(date.sec) + " sec";
                        this.el.innerHTML = countdown;
                      },
                      onEnd: function() {
                        // reload tables
                        reload_tables();
                        return;
                      }
                  });
              });

            }
        });
      });
    }

    // first load
    reload_tables();

}); // $(document).ready()

</script>
{% endblock %}
