
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra-head %}
    <link href="{% static "bootstrap/css/bootstrap-datetimepicker.css" %}" rel="stylesheet"/>
    <link href="{% static "mathquill/mathquill.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{# modal for creating a new question and editing questions. #}
<div class="modal fade" id="question-modal" tabindex="-1" aria-labelledby="modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title" id="modalLabel"></h4>
      </div>
      <form role="form" method="post" action="">{% csrf_token %}
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>

{# modal for deleting questions #}
<div class="modal fade" id="delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="model-title">Are you sure?</h4>
      </div>
      <div class="modal-body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-confirm="delete"><i class="fa fa-trash-o fa-fw"></i> Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="page-header">
      <h1>IPhO Votings</h1>
    </div>

    <div id="alerts-container"></div>

    <div class="row">
       <div class="col-md-12 vote-question-container" id="drafted-container" data-href="{% url 'poll:staff-index-partials' qtype='drafted' %}"></div>
       <div class="col-md-12 vote-question-container" id="open-container" data-href="{% url 'poll:staff-index-partials' qtype='open' %}"></div>
       <div class="col-md-12 vote-question-container" id="closed-container" data-href="{% url 'poll:staff-index-partials' qtype='closed' %}"></div>
    </div>
</div> <!-- container -->
{% endblock %}


{% block extra-script %}
<script src="{% static "moment.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "jquery.countdown.js" %}"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
    });
</script>
<script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{% static "mathquill_alpha/mathquill.min.js" %}"></script>
<script src="{% static "ckeditor/ckeditor.js" %}"></script>
<script src="{% static "ckeditor/adapters/jquery.js" %}"></script>

<script>
    CKEDITOR.plugins.addExternal( 'Jsvk', '{% static "ckeditor_plugins/Jsvk/" %}', 'plugin.js' );
    CKEDITOR.plugins.addExternal( 'mathjax-mathquill', '{% static "ckeditor_plugins/mathjax-mathquill/" %}', 'plugin.js' );

    CKEDITOR.config.toolbar = [
    	{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
    	{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: [ 'Scayt' ] },
    	{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
      { name: 'equation', items: ['Mathjax-mathquill']},
    	{ name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
    	{ name: 'tools', items: [ 'Maximize' ] },
    	{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] },
    	{ name: 'others', items: [ '-' ] },
    	'/',
    	{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup'], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
    	{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
    	{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
    	{ name: 'styles', items: [ 'Styles', 'Format' ] }
    ];

    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.config.resize_enabled = false;
    CKEDITOR.config.extraPlugins = 'Jsvk,autogrow,widget,bidi,mathjax-mathquill,colorbutton';
    CKEDITOR.config.removePlugins = 'elementspath,contextmenu,tabletools,liststyle';
    // CKEDITOR.config.extraAllowedContent = 'span(math-tex)';
    CKEDITOR.config.width = '100%';
    CKEDITOR.config.autoGrow_onStartup = true;
    CKEDITOR.config.autoGrow_minHeight = 0;
    CKEDITOR.config.autoGrow_bottomSpace = 10;
    CKEDITOR.config.entities = false;
    CKEDITOR.config.htmlEncodeOutput = false;
    CKEDITOR.config.basicEntities = false;
    CKEDITOR.config.entities_latin = false;
    CKEDITOR.config.entities_greek = false;
    CKEDITOR.config.disableNativeSpellChecker = false;
    CKEDITOR.config.autoParagraph = false;
    CKEDITOR.config.mathJaxLib = '{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML';
    CKEDITOR.config.MathQuillLib = '{% static "mathquill_alpha/mathquill.min.js" %}';
    CKEDITOR.config.MathQuillCss = '{% static "mathquill_alpha/mathquill.css" %}';
    CKEDITOR.config.MathQuilljQuery = '{% static "jquery/js/jquery-1.11.2.min.js" %}';
    CKEDITOR.config.jsvk_skin = "flat_gray";
</script>

<script>
$('document').ready(function(){
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    //Fill Question modal with Form when modal is shown
    $('#question-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                if (data['modal_body_text']) {
                  var modal_body_text = "<div><p>" + data['modal_body_text'] + "</p></div>";
                  modal.find('.modal-body').append(modal_body_text);
                }
                modal.find('.modal-body').append(data['form']);
                modal.find('.modal-body textarea').ckeditor();
                $('#modal-datetimepicker').datetimepicker({
                    format: "MM/DD/YYYY HH:mm",
                    inline: true,
                    sideBySide: true,
                    defaultDate: moment().add(10, 'seconds'),
                    minDate: moment().add(0, 'minutes'),
                });
                modal.find('.quick-end-time').each(function() {
                  var $this=$(this);
                  var minutes = $this.data('min');
                  $this.append('<button class="btn btn-default btn-sm">In '+minutes+' minutes</button>').on('click', function (evt){
                    evt.preventDefault();
                    $('#modal-datetimepicker').data("DateTimePicker").date(moment().add(minutes, 'minutes'));
                  });
                });
            },
        });
    });


    //Defines what happens when submit is pressed in the form modal
    $(document).on('submit', '#question-modal form', function(event) {
        event.preventDefault();
        var form = event.target;
        var $form = $(form);
        $.ajax({
            url: form.action,
            type: form.method,
            data: new FormData($form.get(0)),
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#question-modal .modal-body').html(data['form']);
                    $('#question-modal .modal-body textarea').ckeditor();
                    $('#modal-datetimepicker').datetimepicker({
                        format: "MM/DD/YYYY HH:mm",
                        inline: true,
                        sideBySide: true,
                        defaultDate: moment().add(10, 'seconds'),
                        minDate: moment().add(0, 'minutes'),
                    });
                    return;
                }
                else {
                    // // creates the row content of the question to be added or replaced
                    // var row_content = '';
                    // row_content += '<td>'+data['new_question_pk']+'</td>'+
                    //     '<td id="question-'+data['new_question_pk']+'-question-text">'+data['new_title']+'</td>'+
                    //     '<td>'+
                    //         '<div class="list-group">' +
                    //             '<li class="list-group-item">' + data.choice_text_list[0] + '</li>' +
                    //             '<li class="list-group-item">' + data.choice_text_list[1] + '</li>' +
                    //             'only shows first two choices' +
                    //         '</div>'+
                    //     '</td>';
                    // row_content += '<td><div class="btn-toolbar">'+
                    //     '<a class="btn btn-sm btn-default" data-toggle="modal" data-target="#question-modal" data-remote="false" href="{% url 'poll:addQuestion' %}"><i class="fa fa-pencil fa-fw"></i></a>' +
                    //     '<a class="btn btn-sm btn-danger" href=""  data-toggle="modal" data-target="#question-modal" data-remote="false"><i class="fa fa-trash-o fa-fw"></i></a' +
                    //     '</div></td>';
                    //
                    // // adds or replaces the newly created row
                    // if (data['type'] == 'add') {
                    //     var row = '<tr id="question-'+data['new_question_pk']+'">'+row_content+'</tr>';
                    //     $('#drafted-questions-table').append(row);
                    // } else {
                    //     $('#question-'+data['new_question_pk']).html(row_content);
                    // }

                    $('#question-modal').modal('hide');

                    // just reload tables
                    reload_tables();

                    // $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
                }
            }
        });
    });

    // Gives the delete modal some attributes of the delete button in the table
    $('#delete-modal').on('show.bs.modal', function (event) {
        var modal = $(this);
        var button = $(event.relatedTarget); // Button that triggered the modal
        modal.data('question-pk', button.data('question-pk'));
        modal.data('delete-href', button.attr('href'));
        modal.find('.modal-body').text(
                                    'The voting #' + button.data('question-pk') +
                                    ' will be deleted permanently.'
                                    )
    });

    // Delete a question when delete button is clicked in the modal
    $(document).on('click', '#delete-modal button[data-confirm="delete"]', function(event){
        event.preventDefault();
        var modal = $('#delete-modal');

        $.ajax({
            url: modal.data('delete-href'),
            cache: false,
            proccessData: false,
            contentType: false,
            success: function(data) {
                if (data['success']) {
                    $('#question-'+modal.data('question-pk')).remove();
                    modal.data('question-pk', null);
                    modal.data('delete-href', null);
                    modal.modal('hide');
                    $('#alerts-container').prepend('<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

                }
                else {
                    modal.find('.modal-title').text("Ups");
                    modal.find('.modal-body').text(data['message']);
                }
            }
            // error: function(){
            //     modal.find('.modal-body').text('error');
            // }
        })
    });

    function reload_tables() {
      $('.vote-question-container').each(function () {
        var container = $(this);
        var href = container.data('href');
        $.ajax({
            url: href,
            dataType: 'html',
            success: function(data) {
              container.html(data);

              // Gives all element of class .btn a tooltip if they have a title attribute
              $('.btn').tooltip({containter: ".parent"});

              // Activate countdowns
              $('.countdown').each(function(i) {
                  var end_date = $(this).data('end-date');
                  end_date = new Date(end_date);
                  $(this).countdown({
                      date: end_date,
                      render: function (date) {
                        var countdown = "";
                        if (date.days != 0) {
                          if (date.days == 1) {
                            countdown += date.days  + " day, ";
                          }
                          else {
                            countdown += date.days  + " days, ";
                          }
                        }
                        if (date.hours != 0 || date.days !=0) {
                          if (date.hours == 1) {
                            countdown += this.leadingZeros(date.hours) + " hour, ";
                          }
                          else {
                            countdown += this.leadingZeros(date.hours) + " hours, ";
                          }
                        }
                        if (date.min != 0 || date.hours !=0 || date.days !=0){
                          countdown += this.leadingZeros(date.min) + " min and ";
                        }
                        countdown += this.leadingZeros(date.sec) + " sec";
                        this.el.innerHTML = countdown;
                      },
                      onEnd: function() {
                        // reload tables
                        reload_tables();
                        return;
                      }
                  });
              });

            }
        });
      });
    }

    // first load
    reload_tables();

}); // $(document).ready()

</script>
{% endblock %}
