{% extends "base.html" %}
{% load static %}


{% block content %}



<div class="container">
    <div class="page-header">
        <h1>Thank you for voting</h1>
    </div>

    <div class="alert alert-success"><strong>Your vote has been successfully registered.</strong></div>


    <p></p>
    <a class="btn btn-primary" href="{% if room_id %}{% url 'poll:voter-index_room' room_id=room_id %}{% else %}{% url 'poll:voter-index' %}{% endif %}" type="button">Continue Voting</a>


</div>



{% endblock %}
