{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container">
    <div class="page-header">
        <h1>Votings</h1>
        <div class="alert alert-warning">
            <strong>Votes can not be changed once submitted. The two Leaders are advised to vote together from the same laptop.</strong>
        </div>
    </div>

    <div id="alerts-container"></div>
    {% if not unvoted_questions_list%}
        <div class="alert alert-danger">
            <strong>Sorry but there are no votings at the moment.</strong>
        </div>

    {% else %}
      <div class="containter">
        {% for question in unvoted_questions_list %}
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{ question }}
                    <!-- Countdown removed since it relies on the local time of the computers
                    <span class="countdown pull-right" data-end-date="{{ question.end_date.isoformat }}"></span>
                    </h3> -->
                </div>
                <div class="panel-body">
                {% if question.content %}<div>{{ question.content|safe }}</div><hr />{% endif %}
                {% for key, formset in formset_list.items %}
                    {% if key == question.pk %}
                      <form action="" method="post">{% csrf_token %}
                            {{ formset.management_form }}
                            {{ formset }}
                            <input type="submit" class="btn btn-primary" data-toggle="modal" value="Vote" />
                      </form>
                    {% endif %}
                {% endfor %}

                </div>
                {% if question.feedbacks_list %}
                <table class="table table-striped feedbacks">
                    <tr>
                        <th>#</th>
                        <th>Delegation</th>
                        <th>Question</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>

                    {% for fb in question.feedbacks_list %}
                    <tr>
                        <td>{{ fb.pk }}</td>
                        <td>{{ fb.delegation__name }}</td>
                        <td>
                          {{ fb.question__name }}<br />
                          {{ fb.part }}
                        </td>
                        <td>{{ fb.comment }}</td>
                        <td style="font-size:24px;">
                          <span class="label label-info">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span class="badge">{{ fb.num_likes }}</span>
                          </span>
                          <span class="label label-warning">
                            <i class="fa fa-thumbs-o-down"></i>
                            <span class="badge">{{ fb.num_unlikes }}</span>
                          </span>
                        </td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endif %}

              </div>
            </div>
        {% endfor %}
      </div>
    {% endif %}
</div> <!-- container -->




{% endblock %}

{% block extra-script %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showMathMenu: false,
    });
</script>
<script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{% static "jquery.countdown.js" %}"></script>


<script>
$('document').ready(function(){


  // Activate countdowns
  $('.countdown').each(function(i) {
      var end_date = $(this).data('end-date');
      end_date = new Date(end_date);

      $(this).countdown({
          date: end_date,
          render: function (date) {
            var countdown = "";
            if (date.days != 0) {
              if (date.days == 1) {
                countdown += date.days  + " day, ";
              }
              else {
                countdown += date.days  + " days, ";
              }
            }
            if (date.hours != 0 || date.days !=0) {
              if (date.hours == 1) {
                countdown += this.leadingZeros(date.hours) + " hour, ";
              }
              else {
                countdown += this.leadingZeros(date.hours) + " hours, ";
              }
            }
            if (date.min != 0 || date.hours !=0 || date.days !=0){
              countdown += this.leadingZeros(date.min) + " min and ";
            }
            countdown += this.leadingZeros(date.sec) + " sec";
            this.el.innerHTML = countdown;
          },
          onEnd: function() {
            // A nicer reload function would be good.
            location.reload();
            return;
          }
      });
  });

  function content2math() {
      // convert equations for mathquill
      // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
      // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="mathquill-embedded-latex" data-cke-survive=1>$1</span>');

      // convert equations for mathjax
      // TODO: remove once the tests have been converted to \( \) format. $ $ is too dangerous, since it might delimit two prices in dollars.
      var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="math-tex">\\($1\\)</span>');
      $(this).html(newtext);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub, this]);
  }
  $(".math-tex").each(content2math);

});
</script>
{% endblock %}
