<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Oly Exams Team">
    {# <link rel="icon" href="../../favicon.ico"> #}

    <title>{% block head-title %}Exam Tools{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    {% block extra-head %}{% endblock %}

    <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    </style>
    <style>
    .with-logo {
      background: #eee url('{% static "logo_square.png" %}') center right no-repeat;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-origin: content-box;
      -webkit-background-origin: content-box;
        background-size: 205px 200px;
/*    	width: 100%;
      height: 100%;*/
    }
    </style>
  </head>

  <body>

      {% if DEMO_MODE %}
      <div class="alert alert-info" role="alert"><div class="container"><strong>DEMO VERSION.</strong> This is a demo version of the Exam Tools. (v{{ VERSION }} - {{ VERSION_DATE }})</div></div>
      {% endif %}



      {% block content %}{% endblock %}

      <div class="footer">
          <hr />
          <div class="container">
              <p class="text-muted">Copyright © 2014 - 2023 <a href="http://oly-exams.org/">Oly Exams Team</a>. Version {{ VERSION }} - {{ VERSION_DATE }}.</p>
          </div>
      </div>

    <script src="{% static "jquery/js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-ckeditor-modal-fix.js" %}"></script>
    {% block extra-script %}{% endblock %}
  </body>
</html>
