@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/static/noto/NotoSans-Regular.eot');
  src: url('/static/noto/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('NotoSans-Regular'),
       url('/static/noto/NotoSans-Regular.woff2') format('woff2'),
       url('/static/noto/NotoSans-Regular.woff') format('woff'),
       url('/static/noto/NotoSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/static/noto/NotoSans-Bold.eot');
  src: url('/static/noto/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('NotoSans-700'),
       local('NotoSans-Bold'),
       url('/static/noto/NotoSans-Bold.woff2') format('woff2'),
       url('/static/noto/NotoSans-Bold.woff') format('woff'),
       url('/static/noto/NotoSans-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/static/noto/NotoSans-Italic.eot');
  src: url('/static/noto/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('NotoSans-Italic'),
       url('/static/noto/NotoSans-Italic.woff2') format('woff2'),
       url('/static/noto/NotoSans-Italic.woff') format('woff'),
       url('/static/noto/NotoSans-Italic.ttf') format('truetype'),
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/static/noto/NotoSans-BoldItalic.eot');
  src: url('/static/noto/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('NotoSans-BoldItalic'),
       url('/static/noto/NotoSans-BoldItalic.woff2') format('woff2'),
       url('/static/noto/NotoSans-BoldItalic.woff') format('woff'),
       url('/static/noto/NotoSans-BoldItalic.ttf') format('truetype'),
}

