/*
 * Noto Serif Armenian (Armenian) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Serif Armenian';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSerifArmenian-Regular.eot);
  src: url(/static/noto/NotoSerifArmenian-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSerifArmenian-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSerifArmenian-Regular.woff) format('woff'),
       url(/static/noto/NotoSerifArmenian-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif Armenian';
  font-style: normal;
  font-weight: 700;
  src: url(/static/noto/NotoSerifArmenian-Bold.eot);
  src: url(/static/noto/NotoSerifArmenian-Bold.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSerifArmenian-Bold.woff2) format('woff2'),
       url(/static/noto/NotoSerifArmenian-Bold.woff) format('woff'),
       url(/static/noto/NotoSerifArmenian-Bold.ttf) format('truetype');
}
