/*
 * Noto Sans Tai Viet (Tai Viet) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Tai Viet';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSansTaiViet-Regular.eot);
  src: url(/static/noto/NotoSansTaiViet-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSansTaiViet-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSansTaiViet-Regular.woff) format('woff'),
       url(/static/noto/NotoSansTaiViet-Regular.ttf) format('truetype');
}
