/*
 * Noto Sans Carian (Carian) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Carian';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanscarian/v1/NotoSansCarian-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanscarian/v1/NotoSansCarian-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanscarian/v1/NotoSansCarian-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanscarian/v1/NotoSansCarian-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanscarian/v1/NotoSansCarian-Regular.ttf) format('truetype');
}
