/*
 * Noto Sans Meetei Mayek (Meetei Mayek) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Meetei Mayek';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSansMeeteiMayek-Regular.eot);
  src: url(/static/noto/NotoSansMeeteiMayek-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSansMeeteiMayek-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSansMeeteiMayek-Regular.woff) format('woff'),
       url(/static/noto/NotoSansMeeteiMayek-Regular.ttf) format('truetype');
}
