/*
 * Noto Sans Buhid (Buhid) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Buhid';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSansBuhid-Regular.eot);
  src: url(/static/noto/NotoSansBuhid-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSansBuhid-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSansBuhid-Regular.woff) format('woff'),
       url(/static/noto/NotoSansBuhid-Regular.ttf) format('truetype');
}
