/*
 * Noto Sans Cypriot (Cypriot) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Cypriot';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanscypriot/v1/NotoSansCypriot-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanscypriot/v1/NotoSansCypriot-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanscypriot/v1/NotoSansCypriot-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanscypriot/v1/NotoSansCypriot-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanscypriot/v1/NotoSansCypriot-Regular.ttf) format('truetype');
}
