/*
 * Noto Sans Cuneiform (Cuneiform) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Cuneiform';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.ttf) format('truetype');
}
