/*
 * Noto Sans Ogham (Ogham) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Ogham';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansogham/v1/NotoSansOgham-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosansogham/v1/NotoSansOgham-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansogham/v1/NotoSansOgham-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansogham/v1/NotoSansOgham-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansogham/v1/NotoSansOgham-Regular.ttf) format('truetype');
}
