/*
 * Noto Nastaliq Urdu (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoNastaliqUrdu-Regular.eot);
  src: url(/static/noto/NotoNastaliqUrdu-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoNastaliqUrdu-Regular.woff2) format('woff2'),
       url(/static/noto/NotoNastaliqUrdu-Regular.woff) format('woff'),
       url(/static/noto/NotoNastaliqUrdu-Regular.ttf) format('truetype');
}
