/*
 * Noto Sans Ugaritic (Ugaritic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Ugaritic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansugaritic/v1/NotoSansUgaritic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosansugaritic/v1/NotoSansUgaritic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansugaritic/v1/NotoSansUgaritic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansugaritic/v1/NotoSansUgaritic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansugaritic/v1/NotoSansUgaritic-Regular.ttf) format('truetype');
}
