/*
 * Noto Sans Gothic (Gothic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansgothic/v1/NotoSansGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosansgothic/v1/NotoSansGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansgothic/v1/NotoSansGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansgothic/v1/NotoSansGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansgothic/v1/NotoSansGothic-Regular.ttf) format('truetype');
}
