/*
 * Noto Sans Syriac Western (Syriac Western) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Syriac Western';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSansSyriacWestern-Regular.eot);
  src: url(/static/noto/NotoSansSyriacWestern-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSansSyriacWestern-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSansSyriacWestern-Regular.woff) format('woff'),
       url(/static/noto/NotoSansSyriacWestern-Regular.ttf) format('truetype');
}
