/*
 * Noto Sans Lepcha (Lepcha) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Lepcha';
  font-style: normal;
  font-weight: 400;
  src: url(/static/noto/NotoSansLepcha-Regular.eot);
  src: url(/static/noto/NotoSansLepcha-Regular.eot?#iefix) format('embedded-opentype'),
       url(/static/noto/NotoSansLepcha-Regular.woff2) format('woff2'),
       url(/static/noto/NotoSansLepcha-Regular.woff) format('woff'),
       url(/static/noto/NotoSansLepcha-Regular.ttf) format('truetype');
}
