/*
 * Noto Sans New Tai Lue (New Tai Lue) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans New Tai Lue';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansnewtailue/v1/NotoSansNewTaiLue-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosansnewtailue/v1/NotoSansNewTaiLue-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansnewtailue/v1/NotoSansNewTaiLue-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansnewtailue/v1/NotoSansNewTaiLue-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansnewtailue/v1/NotoSansNewTaiLue-Regular.ttf) format('truetype');
}
