/*
 * Noto Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Bold.eot);
  src: url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanshebrew/v4/NotoSansHebrew-Bold.ttf) format('truetype');
}
