{% load crispy_forms_tags %}



{# table of closed questions #}
<div class='panel panel-default'>
    <div class="panel-heading"><h2>Closed Votings</h2></div>
    <div class="panel-body">
        {% if not questions_list%}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>There are no closed votings at the moment!</strong> Votings will show up here once the delegates have voted upon them.
            </div>
        {% endif %}
    </div>
    <table id="closed-questions-table" class="table table-striped">
        <tr>
            <th>#</th>
            <th>status</th>
            <th>Question Title</th>
            <th>Feedbacks</th>
            <th>Actions</th>
        </tr>
        {% if questions_list %}
            {% for question in questions_list %}
                <tr id="question-{{ question.pk }}">
                    <td class="col-md-1">{{ question.pk }}</td>
                    <td class="col-md-2">
                      {% if question.vote_result == VOTE_ACCEPTED %}
                      <span class="label label-success">Accepted</span>
                      {% elif question.vote_result == VOTE_REJECTED %}
                      <span class="label label-danger">Rejected</span>
                      {% endif %}

                      {% if question.implementation == VOTE_IMPLEMENTED %}
                      <span class="label label-info">Implemented</span>
                      {% endif %}
                    </td>
                    <td class="col-md-3" id="question-{{ question.pk }}-question-text">
                        {{ question.title }}
                    </td>
                    <td class="col-md-4">
                      {% for fb in question.feedbacks.all %}
                      <span class="label label-default">#{{ fb.pk }} ({{ fb.question.exam.code }} {{ fb.question.code }}-{{ fb.question.position }})</span>
                      {% endfor %}
                    </td>
                    <td class="col-md-2">
                        <div class="btn-toolbar">
                          <span class="parent">
                            <a class="btn btn-default" href="{% url 'poll:question' question_pk=question.pk %}" title="details"><i class="fa fa-info fa-fw"></i></a >
                          </span>
                          <span class="parent">
                              <a class="btn btn-default" target="_blank" href="{% url 'poll:question_large' question_pk=question.pk %}" title="fullscreen"><i class="fa fa-expand fa-fw" aria-hidden="true"></i></a >
                          </span>


                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
