{% load crispy_forms_tags %}

<h2>Closed Votings</h2>

{# list of closed questions #}
<div class="panel panel-default">
      <div id="language-list" class="list-group">
      {% for question in closed_questions_list %}
          <li class="list-group-item">
              {{ question.title }}
              <a class="btn btn-default btn-sm" href="{% url 'poll:question' question_pk=question.pk %}" title="details"> <i class="fa fa-info fa-fw"></i> </a>
          </li>
      {% empty %}
          <li class="list-group-item">No closed questions.</li>
      {% endfor %}
      </div>
</div>
