iphoadmin.esproj
iphoadmin/settings.py
exam_tools/settings.py
*.pyc
*.fuse_hidden*
venv
ipho.db
db/
exams-docs
outcode_raw.svg
.idea
runserver.sh
_docs_html
.vscode/
static_bower
.spyderproject
test_*.pdf
docs/*.html
