future <1
Django >= 3.1, <4
django-crispy-forms >=1.9, <2
django-ace >=1, <1.1
djangorestframework >=3.12, <4
drf-spectacular >=0.11, <1
django-polymorphic >=3, <4
django-dbbackup >=3, <4
django-ipware >=3, <4
tornado >= 5, < 6
pywebpush >= 1.11, <2
django-filter >=2.4, <3
CairoSVG >=2.4, <3
python-barcode >=0.13, <1
PyPDF2 >=1.26, <2
mkdocs <1.1
Celery >=5.0, <6
django-celery-results >=2, <3, !=2.1.0
flower >=1
requests >=2.24, <3
Pillow >=8, <9
iso3166 >=1, <2
lxml >=4, <5
html5lib >=1, <2
beautifulsoup4 >=4.9, <5
qrcode >=6.1, <7
Wand >=0.6, <1
python-dateutil >=2.8, <3
cssutils >=1, <2
google-cloud-translate ==2.0.1
deepl ~=1.3
unittest-xml-reporting >=3, <4
psycopg2
pypandoc >=1.5, <1.6
latex2mathml >=2.16.1, <3
html-diff >=0.4.1
