Django >= 1.8, < 1.9
django-crispy-forms
django-ace
djangorestframework
django-rest-swagger
django-polymorphic
CairoSVG==1.*
hg+https://bitbucket.org/whitie/python-barcode
PyPDF2
mkdocs
Celery==3.*
django-celery
flower
requests
appy
Pillow
lxml
html5lib
bs4
qrcode
Wand
django-filter
python-dateutil
