colorama==0.4.6 ; python_version >= "3.10" and python_version < "4" and sys_platform == "win32"
exceptiongroup==1.2.2 ; python_version == "3.10"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "4"
packaging==24.2 ; python_version >= "3.10" and python_version < "4"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "4"
pytest-django==4.11.1 ; python_version >= "3.10" and python_version < "4"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "4"
tomli==2.2.1 ; python_version == "3.10"
