<table>
    <tr>
      <td>
        <div {{ form_item.points.errors|yesno:'class="has-error error",,'|safe }}>
        {{ form_item.id }} {{ form_item.points.errors }} {{ form_item.points }}</td><td>
        &nbsp;<a id="commentButton{{form_item.instance.id}}" class="btn-xs btn-{% if form_item.instance.comment %}primary{%else%}seconday{%endif%} comment-button-tooltip" title='{{form_item.instance.comment|default_if_none:""}}' data-toggle="modal" data-target="#commentModal{{form_item.instance.id}}"><i class="fa fa-comment"></i></a> 
        
        <div class="modal" id="commentModal{{ form_item.instance.id }}" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Comment</h5>
              </div>
              <div class="modal-body">
                {{ form_item.comment }}
              </div>
              <div class="modal-footer">
                <button type="button" class="modal-close btn btn-primary" pk="{{form_item.instance.id}}">Close</button>
              </div>
            </div>
          </div>
        </div>
      
      </td><tr>
  </table>