{% extends "ipho_marking/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra-head %}
{% endblock %}

{% block pageheader %}<h1>Results</h1>{% endblock %}

{% block page-content %}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills">
    <li class="active"><a href="#scans" data-toggle="tab">Participant scans</a></li>
    <li><a href="#marking" data-toggle="tab">Delegation marking</a></li>
    <li><a href="#final-points" data-toggle="tab">Final points</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin-top:10px;">

    <div class="tab-pane active" id="scans">
      <p class="lead">Download scanned exams.</p>
      <p class="alert alert-info"><i class="fa fa-info-circle fa-lg"></i> Pending documents still have to be processed
        by the organizers.</p>

      {% for exam,questions,scans_of_participants in scans_table_per_exam %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ exam.name }}</h2>
        </div>
        <table class="table table-strided">
          <tr>
            <th>Participant</th>
            {% for question in questions %}
            <th style="max-width: 10em;">{{ question.name }}</th>
            {% endfor %}
          </tr>
          {% for participant,scans_list in scans_of_participants %}
          <tr>
            <td>{{ participant.full_name }} ({{ participant.code }})
            </td>
            {% for doc in scans_list %}
            <td>
              {% if doc.scan_file and doc.scan_status == 'S' %}
              <a class="btn btn-success btn-xs"
                id="processed_scan-{{ participant.pk }}-{{ doc.position }}"
                href="{% url 'exam:scan-exam-pos-participant' exam_id=exam.pk participant_id=participant.pk position=doc.position %}"><i
                  class="fa fa-file-pdf-o"></i> View scan</a>
              {% else %}
              <span class="label label-default">pending</span>
              {% endif %}
              {% if doc.scan_file_orig and doc.scan_status == 'S' %}
              <a class="btn btn-default btn-xs"
                href="{% url 'exam:scan-orig-exam-pos-participant' exam_id=exam.pk participant_id=participant.pk position=doc.position %}"><i
                  class="fa fa-fw fa-file-pdf-o"></i> View full scan</a>
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      {% empty %}
      <p class="alert alert-info">There are no files available for download.</p>
      {% endfor %}

    </div>

    <div class="tab-pane" id="marking">
      <p class="lead">
        <!-- Submit your marking and see the official marks. -->
        {% if exam_list %}
        <a class="btn btn-default btn-sm" href="{% url 'marking:delegation-export-all' %}"><i
        class="fa fa-file-excel-o"></i> Export All</i></a>
        {% endif %}
      </p>

      {% for exam_ctxt in exam_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ exam_ctxt.name }}</h2>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="font-size:16px;">Participant</th>
              {% for question_ctxt in exam_ctxt.questions %}
              <th style="font-size:16px;">{{ question_ctxt.name }} {{ question_ctxt.participants }}</th>
              {% endfor %}
            </tr>
            {% for participant_ctxt in exam_ctxt.participants %}
            <tr>
              <td>{{ participant_ctxt.full_name }} ({{ participant_ctxt.code }})</td>
              {% for question_ctxt in participant_ctxt.questions %}
              <td>
                <span class="tooltip-span" data-toggle="tooltip" title="{{ question_ctxt.view_tooltip }}">
                  <a {% if not question_ctxt.view %}disabled{% endif %} style="max-width: 9em;"
                    class="btn btn-default btn-xs btn-block"
                    href="{% url 'marking:delegation-ppnt-detail' ppnt_id=participant_ctxt.pk question_id=question_ctxt.pk %}"><i
                      class="fa fa-eye"></i> View marks</a>
                </span>
                <span class="tooltip-span" data-toggle="tooltip" title="{{ question_ctxt.edit_tooltip }}">
                  <a {% if not question_ctxt.edit %}disabled{% endif %} style="max-width: 9em;"
                    class="btn btn-warning btn-xs btn-block"
                    href="{% url 'marking:delegation-ppnt-detail-edit' ppnt_id=participant_ctxt.pk question_id=question_ctxt.pk %}"><i
                      class="fa fa-pencil"></i> Edit marks</a>
                </span>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              {% for question in exam_ctxt.questions  %}
              <td>
                <span class="tooltip-span" data-toggle="tooltip" title="{{ question.view_tooltip }}">
                  <a {% if not question.view_all %}disabled{% endif %} style="max-width: 9em;" data-toggle="tooltip"
                    title="{{ question.viewall_tooltip }}" class="btn btn-default btn-xs btn-block"
                    href="{% url 'marking:delegation-all-detail' question_id=question.pk %}"><i class="fa fa-eye"></i>
                    View all marks</a>
                </span>
                <span class="tooltip-span" data-toggle="tooltip" title="{{ question.edit_tooltip }}">
                  <a {% if not question.edit_all %}disabled{% endif %} style="max-width: 9em;" data-toggle="tooltip"
                    title="{{ question.editall_tooltip }}" class="btn btn-warning btn-xs btn-block"
                    href="{% url 'marking:delegation-all-detail-edit' question_id=question.pk %}"><i
                      class="fa fa-pencil"></i> Edit all marks</a>
                </span>
              </td>
              {% endfor %}
            </tr>
            <tr>
              <td>
                <a class="btn btn-default btn-sm" href="{% url 'marking:delegation-export' exam_id=exam_ctxt.pk %}"><i
                    class="fa fa-file-excel-o"></i> Export</i></a>
              </td>
              {% for question in exam_ctxt.questions  %}
              <td>
                {% for action in question.actions %}
                {% if action and action.nolink %}
                <span class="tooltip-span" data-toggle="tooltip" title="{{ action.tooltip }}">
                  <button style="max-width: 20em;" href="{{ action.link }}"
                    class="btn {{ action.class|default:"btn-default" }} btn-sm btn-block"
                    {% if action.disabled %}disabled{% endif %}>{{ action.text }}</button>
                </span>
                {% elif action %}
                <span class="tooltip-span" data-toggle="tooltip" title="{{ action.tooltip }}">
                  <a style="max-width: 20em;" href="{{ action.link }}"
                    class="btn {{ action.class|default:"btn-default" }} btn-sm btn-block"
                    {% if action.disabled %}disabled{% endif %}>{{ action.text }} <i
                      class="fa fa-angle-double-right"></i></a>
                </span>
                {% endif %}
                {% endfor %}

              </td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </div>
      {% empty %}
      <p class="alert alert-info">Marking is currently not enabled for any exam.</p>
      {% endfor %}

    </div>

    <div class="tab-pane" id="final-points">
      <p class="lead">Final results of your delegation decided after the {% trans "moderation" %} session.</p>

      <div class="panel panel-default">
        <table class="table table-striped">
          <tr>
            <th>Student</th>
            {% for e in final_points_exams %}
            <th>{{ e.question__exam__name }}<br />({% if e.exam_points is None%}-{% else %}{{ e.exam_points|floatformat:3 }}{% endif %})</th>
            {% endfor %}
            <th>Total</th>
          </tr>

          {% for student, exam_points, total in points_per_student %}
          <tr>
            <td>{{ student.full_name }} ({{ student.code }})</td>
            {% for ep in exam_points %}
            <td>
              {{ ep|floatformat:2|default:'-' }}
            </td>
            {% endfor %}
            <td>{{ total|floatformat:2|default:'-' }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra-script %}

<script>
  $(document).ready(function () {
    if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
    return $('a[data-toggle="tab"]').on('shown', function (e) {
      return location.hash = $(e.target).attr('href').substr(1);
    });
  });
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>

{% endblock %}
