{% extends "ipho_marking/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra-head %}
<style>
.div-inline{
    display:inline-block;
}
</style>
{% endblock %}

{% block pageheader %}<h1>Delegation detailed marking</h1>{% endblock %}

{% block page-content %}

{% if show_official_marks %}
<div class="modal fade" id="copy-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Copy all</h4>
      </div>
      <div class="modal-body">
        <p class="alert alert-warning" id="copy-modal-alert-text">
          Copying all official marks will overwrite your marks for {{ participant.code }}.<br />
          <strong>Are you sure?</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="copy_all()">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
  <div>
    {% for type, message in msg %}
    <div class="alert {{ type }}">{{ message|safe }}</div>
    {% endfor %}
  </div>
  <h3>
    <div class="dropdown div-inline">
      <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    {{ exam.name }} - {{ question.name }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

    {% for q in question_list %}
      {% if form %}
        <li {% if question == q %} class="active" {% endif %}><a href="{% url 'marking:delegation-ppnt-detail-edit' ppnt_id=participant.pk question_id=q.pk %}">{{ q.exam.name }} - {{ q.name }}</a></li>
      {% else %}
        <li {% if question == q %} class="active" {% endif %}><a href="{% url 'marking:delegation-ppnt-detail' ppnt_id=participant.pk question_id=q.pk %}">{{ q.exam.name }} - {{ q.name }}</a></li>
      {% endif %}
    {% endfor %}
      </ul>
    </div>
    <div class="dropdown div-inline">
      <a class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    {{ participant.full_name }} ({{ participant.code }})
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">

    {% for ppnt in participant_list %}
      {% if form %}
        <li {% if participant == ppnt %} class="active" {% endif %}><a href="{% url 'marking:delegation-ppnt-detail-edit' ppnt_id=ppnt.pk question_id=question.pk %}">{{ ppnt.full_name }} ({{ ppnt.code }})</a></li>
      {% else %}
        <li {% if participant == ppnt %} class="active" {% endif %}><a href="{% url 'marking:delegation-ppnt-detail' ppnt_id=ppnt.pk question_id=question.pk %}">{{ ppnt.full_name }} ({{ ppnt.code }})</a></li>
      {% endif %}
    {% endfor %}
      </ul>
    </div>
      {% for doc in documents %}
        {% if doc.scan_file and doc.scan_status == 'S' %}
        <a class="btn btn-success" href="{% url 'exam:scan-exam-pos-participant' exam_id=exam.pk participant_id=participant.pk position=question.position %}">
          <i class="fa fa-file-pdf-o"></i>
          View scan
        </a>
        {% endif %}
        {% if doc.scan_file_orig and doc.scan_status == 'S' %}
        <a class="btn btn-default" href="{% url 'exam:scan-orig-exam-pos-participant' exam_id=exam.pk participant_id=participant.pk position=question.position %}">
          <i class="fa fa-file-pdf-o"></i>
          View full scan
        </a>
        {% endif %}
      {% endfor %}
    </h3>

    {% if form %}
    <form method="post">
      {% csrf_token %}
      <table class="table table-striped">
        <tr>
          <th>Subquestion</th>
          {% if show_official_marks %}
          <th>Official</th>
          <th><button type="button" class="btn btn-sm btn-default translate-copy-all-button" title="Copy all from official" data-toggle="modal" data-target="#copy-modal"><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i></button></th>
          {% endif %}
          <th>Points</th>
        </tr>
        {{ form.management_form }}
        {% if show_official_marks %}
        {% for form_item in form %}
          <tr>
              <th>{{ form_item.points.label_tag }}</th>
              <td>{% include "ipho_marking/parts/view_cell.html" with instance=form_item.official %}</td>
              <td><button type="button" class="btn btn-default btn-xs" title="Copy from official" onclick="copy_one('{{form_item.points.id_for_label}}', '{{form_item.official.points}}')"><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i><i class="fa fa-arrow-right" aria-hidden="true"></i><i class="fa fa-clipboard fa-fw" aria-hidden="true"></i></button></td>
              <td>
                {% include "ipho_marking/parts/edit_cell.html" %}
              </td>
          </tr>
        {% endfor %}
        {% else %}
          {% for form_item in form %}
          <tr>
            <td>{{ form_item.points.label }}</td>
            <td>
              {% include "ipho_marking/parts/edit_cell.html" %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>
      <input type="submit" class="btn btn-primary" value="Save" />
    </form>
    {% endif %}

    {% if markings %}
    <table class="table table-striped" id="points-table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Official</th>
          <th>Delegation</th>
          <th>Final</th>
        </tr>
      </thead>
      {% for m, version in markings %}
      <tbody>
        <tr>
          <td><strong>{{ m.name }} ({{ m.min_points }},{{ m.max_points }})</strong></td>
          <td class="{{ version.diff_color.O }}">{% include "ipho_marking/parts/view_cell.html" with instance=version.O%}</td>
          <td class="{{ version.diff_color.D }}">{% include "ipho_marking/parts/view_cell.html" with instance=version.D%}</td>
          <td>{% include "ipho_marking/parts/view_cell.html" with instance=version.F%}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% endif %}

</div>
{% if show_official_marks %}
<script>
    function copy_one(name, points) {
        var x = $("input[id='"+name+"']");
        x.val(points);
    }
    function copy_all() {
        {% for form_item in form %}
        copy_one('{{form_item.points.id_for_label}}', '{{form_item.official.points}}')
        {% endfor %}
    }
</script>
{% endif %}

{% endblock %}
