{% extends "ipho_marking/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block extra-head %}
{% endblock %}

{% block pageheader %}<h1>Staff Marking Input</h1>{% endblock %}



{% block page-content %}

  <div>
    {% for type, message in msg %}
    <div class="alert {{ type }}">{{ message|safe }}</div>
    {% endfor %}
  </div>

    <h2>Participant {{ participant.code }}, Version {{ version_display }}</h2>

    <h3> {{ exam.name }} - {{ question.name }}</h3>

    <form method="post">
      {% csrf_token %}
      {{ form.management_form }}
      <table class="table table-striped" style="width: auto !important;">
        <tr>
          <th>Subquestion</th>
          <th>Points</th>
        </tr>
        {% for form_item in form %}
        <tr>
          <td>{{ form_item.points.label }}</td>
          <td>
            {% include "ipho_marking/parts/edit_cell.html" %}
          </td>
        </tr>
          {% endfor %}
      </table>
      <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>

{% endblock %}
