

{% for h in history %}

<div class="panel panel-default">
  <div class="panel-heading" style="display: flex; justify-content: space-between;">
    <div>
    <div style="font-size: 20px;">
        {{ h.to_phase.name|default:"Unnamed phase" }}
    </div>
        {{ h.user }} at
        {% if h.timestamp %}
            <time datetime="{{ h.timestamp|date:'c' }}" data-format="DD. MMM HH:mm:ss"></time>
        {% else %}
              --:--
        {% endif %}
    </div>
</div>
    <div class="panel-body">
        <h4>Unchanged settings:</h4>
        {% include "ipho_control/phase_labels.html" with settings=h.to_settings help_texts=help_texts_settings choices=choices_settings names=verbose_names_settings collapse_id=h.pk only %}
        
        {% if h.changes_to_previous %}
            <h4>Changed:</h4>
            <div>
                {% include "ipho_control/phase_labels_changelog.html" with settings=h.changes_to_previous help_texts=help_texts_settings choices=choices_settings names=verbose_names_settings only %}
            </div>
        {% endif %}
    </div>
</div>

{% endfor %}