<table class="table">
  <thead>
    {% if collapse_id %}
    <div class="panel-heading collapse-toggle" data-toggle="collapse" data-target="#{{ collapse_id }}-collapse-table"
      aria-expanded="false" aria-controls="{{ collapse_id }}-collapse-table">
      Show/hide settings
    </div>
    {% endif %}
  </thead>
  <tbody class="{% if collapse_id %}collapse{% endif %}" {% if collapse_id %}id="{{ collapse_id }}-collapse-table"
    {% endif %}>
    {% for name, setting in settings.items %}
    <tr data-toggle="tooltip" title="{{ help_texts|get:name }}">
      <td>{{ name }}</td>
      <td>
        {% if setting is True %}
        <span class="label label-setting-active">YES</span>
        {% elif setting is False %}
        <span class="label label-setting-inactive">NO</span>
        {% else %}
        <span class="label">{{ setting }}</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>