<table class="table">
    <thead>
        <tr>
            <th>Setting</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        {% for name, setting in settings.items %}
        <tr data-toggle="tooltip" title="{{ help_texts|get:name }}">
            <td>{{ name }}</td>
            <td>
                {% if setting.old is True %}
                <span class="label label-setting-active">YES</span>
                {% elif setting.old is False %}
                <span class="label label-setting-inactive">NO</span>
                {% else %}
                <span class="label">{{ setting.old }}</span>
                {% endif %}
            </td>
            <td>
                {% if setting.new is True %}
                <span class="label label-setting-active">YES</span>
                {% elif setting.new is False %}
                <span class="label label-setting-inactive">NO</span>
                {% else %}
                <span class="label">{{ setting.new }}</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>