<div class="panel-group" id="state-summary-parent" role="tablist" aria-multiselectable="true">
{% for state in states %}

<div class="panel panel-primary">
    <div class="panel-heading" role="tab" data-toggle="collapse" data-parent="#state-summary-parent" href="#state-summary-{{ state.state.pk }}" aria-expanded="false" aria-controls="state-summary-{{ state.state.pk }}">
        <span class="accordion-toggle" >
          <span style="font-size: 16px; margin-right:10px;">{{ state.exam.name }}:</span>
          <span style="font-size:20px; margin-right:10px;">    {% if state.state %}{{ state.state.name }}{% else %}Unnamed phase{% endif %}</span>
          <span>
            Last change: 
            {% if state.last_change %}
            <time datetime="{{ state.last_change|date:'c' }}" data-format="DD. MMM HH:mm:ss"></time>
            {% else %}
                  --:--
            {% endif %}
          </span>
        </span>
    </div>
    <div class="panel-collapse collapse" id="state-summary-{{ state.state.pk }}" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <p>
        {% if state.state %}
        {{ state.state.public_description }}
        {% else %}
        This is an unnamed phase, there is no further description available.
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endfor %}
</div>