{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
    .with-logo {
    	background: #eee url('{% static "logo_square.png" %}') center right no-repeat;
    	-webkit-background-clip: padding-box;
    	background-clip: padding-box;
    	background-origin: content-box;
    	-webkit-background-origin: content-box;
        background-size: 205px 200px;
/*    	width: 100%;
    	height: 100%;*/
    }
    </style>

<div class="container">
  <div class="jumbotron with-logo hidden-sm hidden-xs">
      <h1>Exam Tools</h1>
      <p>
          Supporting the academic work of Science Olympiads.
      </p>
  </div>
  <div class="jumbotron hidden-lg hidden-md">
      <h1>Exam Tools</h1>
      <p>
          Supporting the academic work of Science Olympiads.
      </p>
  </div>
</div> <!-- /container -->

<div class="container">
    <div class="row">
        <div class="col-md-9">
          <h2>Welcome</h2>
          <p>
              Originally developed for the International Physics Olympiad 2016 held in Zurich, Switzerland, Exam Tools has since
              been used at several Scientific Olympiads to support the exam discussion, translation and administration process.
              Exam feedbacks, translations, printing, voting, corrections and ranking are among the features of this new tool.
              {% if OFFICIALLY_SUPPORTED %}
              The <a href="http://oly-exams.org">OlyExams</a> team and the local organizers are proud to offer Exam Tools also for the present Olympiad.
              {% endif %}
          </p>
          <p>
              During the registration process you will need to confirm that your delegation will join with at least one supported notebook computer, and that you were successfully able to translate the test exams. Note that the organizers will not provide any notebooks or workstations to the delegations (except upon prior arrangement).
          </p>
          <p>
            Please contact <a href="mailto:thomas.uehlinger@oly-exams.org"><i class="fa fa-envelope-o"></i> thomas.uehlinger@oly-exams.org</a> if you consider using
            ExamTools for your own Olympiad, and also try our publicly available <a href="http://demo.oly-exams.org">demo</a>.
          </p>

          {% if DEMO_MODE %}
          <p>Within this demo version you can perfom the translation and submission of previous years' exams.</p>
          {% endif %}
          {% if perms.ipho_core.can_see_boardmeeting %}
          <h3>Step-by-step guide</h3>
          <p>To guide you through the translation process, we prepared a step-by-step guide which explains the basic steps needed for testing your notebook.</p>
          {% if DEMO_MODE %}
          <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'exam:wizard' %}">Try it now!</a></p>
          {% else %}
          <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'exam:wizard' %}">Get started!</a></p>
          {% endif %}
          <hr />

          <p><strong>Navigation:</strong> Below you find a summary of the Exam Tools structure. The same navigation is available in the upper bar on all pages.</p>

          <div class="row">
              <div class="col-sm-4">
                  <h3>Exam</h3>
                  <ul>
                    {% if perms.ipho_core.is_delegation and not user.is_superuser %}
                      <li>
                          <h4>Step-by-step guide</h4>
                          <ul>
                              <li>
                                <a href="{% url 'exam:wizard' %}">Get started!</a>
                              </li>
                          </ul>
                      </li>

                      <li>
                          <h4>Translations</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:language-list' %}">
                                      Define languages
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'exam:list' %}">
                                      My translations
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'exam:submission-exam-list' %}">
                                      Final submission
                                  </a>
                              </li>
                          </ul>
                      </li>
                      {% endif %}
                      <li>
                          <h4>All translations</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:exam-view' %}">
                                      View official English exam
                                  </a>
                              </li>
                              <li>
                                  <a href="{% url 'exam:list-all' %}">
                                      View all translations
                                  </a>
                              </li>
                          </ul>
                      </li>

                      <li>
                          <h4>Exam feedbacks</h4>
                          <ul>
                              <li>
                                  <a href="{% url 'exam:feedbacks-list' %}">
                                      {% if perms.ipho_core.is_delegation and not user.is_superuser %}View{% else %}Manage{% endif %} feedbacks
                                  </a>
                              </li>
                          </ul>
                      </li>

                  </ul>

              </div>

              <div class="col-sm-4">
                {% if perms.ipho_core.is_delegation and not user.is_superuser %}
                <h3>Results</h3>
                <ul>
                    <li>
                        <a href="{% url 'marking:delegation-summary' %}">
                            View and submit marks
                        </a>
                    </li>
                </ul>
                {% endif %}
                {% if perms.ipho_core.can_vote and not user.is_superuser %}
                  <h3>Voting</h3>
                  <ul>
                      <li>
                          <a href="{% url 'poll:voter-index' %}">
                              Vote
                          </a>
                      </li>
                  </ul>
                {% endif %}
              </div>

              <div class="col-sm-4">
                <h3>Downloads</h3>
                <ul>
                    <li>
                        <a href="{% url 'download:main' %}">
                            View and download resources
                        </a>
                    </li>
                </ul>
                {% if perms.ipho_core.print_technopark or perms.ipho_core.print_irchel %}
                <h3>Print</h3>
                <ul>
                    <li>
                        <a href="{% url 'print:main' %}">
                            Print documents
                        </a>
                    </li>
                </ul>
                {% endif %}
              </div>

          </div>
          {% endif %}


        </div>
        <div class="col-md-3">
          <h2>Help</h2>
          <p>If you need help with the Exam Tools, please contact a Leader Guide or IT Staff member. 
              {% if OFFICIALLY_SUPPORTED %}
              For general feedback or bug reports, you can also contact us at <br />
              <a href="mailto:exam-tools-users@oly-exams.org"><i class="fa fa-envelope-o"></i> exam-tools-users@oly-exams.org</a>.
              {% else %}
              Note that this event is run without OlyExams support.
              {% endif %}
            </p>

          <h2>User guide</h2>
          <p>Please refer to the documentation section for a detailed user guide which explains the Exam Tools and how to perfom a test exam translation required by the registration process.</p>
          <p><a class="btn btn-default" href="{{ DOCS_URL }}">View the docs <i class="fa fa-angle-double-right"></i></a></p>

        </div>
    </div>

</div> <!-- /container -->


{% endblock %}

{% block extra-script %}
<script>
// Utils functions:

let isSubscribed = false;
let swRegistration = null;

function urlB64ToUint8Array (base64String) {
    var padding = '='.repeat((4 - base64String.length % 4) % 4)
    var base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/')
    var rawData = window.atob(base64)
    var outputArray = new Uint8Array(rawData.length)
    for (var i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i)
    }
    return outputArray;
};
/*    function initializeUI() {
// Set the initial subscription value
swRegistration.pushManager.getSubscription()
.then(function(subscription) {
  isSubscribed = !(subscription === null);

  if (isSubscribed) {
    console.log('User IS subscribed.');
  } else {
    console.log('User is NOT subscribed.');
  }

  //updateBtn();
});
}*/

function checkStatus() {
  return new Promise((resolve, reject) => {
    if ('serviceWorker' in navigator && 'PushManager' in window) {
      console.log('Service Worker and Push is supported');
      navigator.serviceWorker.register("{% url 'service_worker' %}")
      .then(function(swReg) {
        console.log('Service Worker is registered', swReg);
        swRegistration = swReg;
        resolve('SUCCESS');
        //initializeUI();
      })
      .catch(function(error) {
        console.error('Service Worker Error', error);
        resolve(error);
      });
    } else {
      console.warn('Push messaging is not supported');
      reject("NOT SUPPORTED");
      //pushButton.textContent = 'Push Not Supported';
    }
  })
}

var applicationServerPublicKey = "{{ push_key }}";
// In your ready listener
function subscribeUser() {
  const applicationServerKey = urlB64ToUint8Array(applicationServerPublicKey);
  console.log('subscribing...');
  swRegistration.pushManager.subscribe({
    userVisibleOnly: true,
    applicationServerKey: applicationServerKey
  })
  .then(function(subscription) {
    console.log('User is subscribed.');
    data = {};
    data.subs = subscription.toJSON();
    console.log(data);
    data.csrfmiddlewaretoken = '{{ csrf_token }}';
    $.ajax({
        url: "{% url 'push_submission' %}",
        type: 'POST',
        data: data,
        success: function(data) {
            if (!data['success']) {
                console.log('subscription could not be saved');
                console.log(data);
            }
      }
    });
    isSubscribed = true;
    //updateBtn();
  })
  .catch(function(err) {
    console.log('Failed to subscribe the user: ', err);
    //updateBtn();
  });
}
$(document).ready(function() {
  checkStatus().then(function () {
    {% if push %}
    subscribeUser();
    {% endif %}
  });
});

</script>
{% endblock %}
