{% load crispy_forms_tags %}


{# table of open questions #}
<div class='panel panel-default'>
    <div class="panel-heading"><h2>Open Votings</h2></div>
    <div class="panel-body">
        {% if not open_questions_list%}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <strong>There are no open votings at the moment!</strong> Click the green "open vote" button on a drafted voting to open a vote.
            </div>
        {% endif %}
    </div>
    <table id="open-questions-table" class="table table-striped">
        <tr>
            <th>#</th>
            <th>Remaining Time</th>
            <th>Question Text</th>
            <th>Choices</th>
            <th>Actions</th>
        </tr>
        {% if open_questions_list %}
            {% for question in open_questions_list %}
                <tr id="question-{{ question.pk }}">
                    <td class="col-md-1">{{ question.pk }}</td>
                    <td class="col-md-1 countdown" data-end-date="{{ question.end_date.isoformat }}"></td>
                    <td class="col-md-5", id="question-{{ question.pk }}-question-text">
                        {{ question.question_text }}
                    </td>
                    <td class="col-md-3">
                        <div class='list-group'>
                            {% for choice in choices_list %}
                                {% if choice.question == question %}
                                    <li class="list-group-item">{{ choice }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="btn-toolbar">
                          <span class="parent">
                            <button class="btn btn-danger" href="" itle="No buttons yet">No buttons yet.</button>
                          </span>

                          <!-- <span class="parent">
                            <button class="btn btn-default" href="{% url 'poll:editQuestion' question_pk=question.pk %}" data-toggle="modal" data-target="#question-modal" data-remote="false" title="edit"><i class="fa fa-pencil fa-fw"></i></button>
                          </span>
                          <span class="parent">
                            <button class="btn btn-danger" href="{% url 'poll:deleteQuestion' question_pk=question.pk %}" data-question-pk="{{ question.pk }}" data-toggle="modal" data-target="#delete-modal" data-remote="false" title="delete"><i class="fa fa-trash-o fa-fw"></i></button>
                          </span>
                          <span class="parent">
                            <button class="btn btn-success" href="{% url 'poll:changeQuestionStatus' question_pk=question.pk status=1 %}" data-toggle="modal" data-target="#question-modal" data-remote="false" title="Open vote"><i class="fa fa-level-up fa-fw"></i></button>
                          </span> -->
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
