<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Oly Exams Team">
    <meta name="google-site-verification" content="zqUrYerHwOScwmLIi5QyzGlA6gQn7DaG4idgsqq3_7U" />

    <style>
    body {
      background-image: url("{% static "chocobunny.svg" %}");
      background-size: 150px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: red;
      font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    }
    </style>
    <body>
      <div style="marginauto">
        <h1>Congratulations {{ name }}!</h1>
        <p>{{ message }}</p>
      </div>
    </body>
</html>
