{% load crispy_forms_tags %}

<h2>Drafted Questions</h2>

{# modal for creating a new question. #}
<div class="modal fade" id="question-modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form method="post" action="">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>


{# list of drafted questions #}
<div class="panel panel-default">
      <div id="language-list" class="list-group">
      {% for question in drafted_questions_list %}
          <a class="list-group-item"> {{ question }} </a>
      {% empty %}
          <a class="list-group-item">No drafted questions.</a>
      {% endfor %}
      </div>
</div>

<a class="btn btn-default" data-toggle="modal" data-target="#question-modal" data-remote="false" href="{% url 'poll:addQuestion' %}"><i class="fa fa-plus fa-fw"></i> Create new</a>

