{% load crispy_forms_tags %}

<h2>Languages</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Available languages</h3></div>
      <ul class="list-group">
      {% for lang in own_lang %}
          <li class="list-group-item">{{ lang.name }}</li>
      {% empty %}
          <li class="list-group-item">No languages assigned to your delegation.</li>
      {% endfor %}
      </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Create new</h4></div>
    <div class="panel-body" id="add-language-panel">
        {% if language_form %}
            {% crispy language_form %}
        {% else %}
            Only delegations can create new languages with this form.
        {% endif %}
    </div>
</div>
