<h2>Languages</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Available languages</h3></div>
    <div class="panel-body">
      <ul>
      {% for lang in own_languages %}
          <li>{{ lang.name }}</li>
      {% empty %}
          <li>No languages assigned to your delegation.</li>
      {% endfor %}
      </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title"><a data-toggle="collapse" href="#add-language-panel">Create new <span class="glyphicon glyphicon-plus pull-right"></span></a></h4></div>
    <div class="panel-body collapse" id="add-language-panel">
      <p>
          TODO. make form.
      </p>
    </div>
</div>
