{% load static %}
{% for question in exam.question_set.all %}
<div class="panel panel-default" id="ex{{ exam.pk }}_q-{{ question.pk }}">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">
        <a data-toggle="collapse" href="#ex{{ exam.pk }}_q-{{ question.pk }}-versions">
            {{ question.name }}
            {% if question.type == 1 %}
            ({{ question.working_pages }} Working pages)
            {% endif %}
        </a>
        <span class="glyphicon glyphicon-chevron-down"></span>
        {% if question.flags|binand:question.FLAG_HIDDEN_PDF %}
        <span class="label label-default">Hidden in final PDF</span>
        {% endif %}
        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#question-modal" data-remote="false" href="{% url 'exam:admin-edit-question' exam_id=exam.pk question_id=question.pk %}"><i class="fa fa-pencil fa-fw"></i> edit</button>
        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-modal" data-remote="false" href="{% url 'exam:admin-delete-question' exam_id=exam.pk question_id=question.pk %}" title="Delete question"><i class="fa fa-trash-o"></i> delete</button>
        </h4>
        <div class="panel-title pull-right">Position {{ question.position }}</div>
    </div>
    <div id="ex{{ exam.pk }}_q-{{ question.pk }}-versions" class="panel-collapse collapse in">

        <table class="table">
            <tr>
                <th>Version <button class="btn btn-xs btn-default" data-action="new-version" data-action-url="{% url 'exam:admin-new-version' exam_id=exam.pk question_id=question.pk %}" title="New Version"><i class="fa fa-plus fa-fw"></i> new</button> <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#import-modal" data-remote="false" href="{% url 'exam:admin-import-version' question_id=question.pk %}" data-exid="{{ exam.pk }}" title="Import new version"><i class="fa fa-fw fa-upload"></i> import</button></th>
                <th>Tag</th>
                <th>Status</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            {% for node in question.versionnode_set.all %}
            <tr>
                <td>
                    v{{ node.version }}
                </td>
                <td>
                    <span class="label label-default">{{ node.tag|default:'' }}</span>
                    <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#question-modal" data-remote="false" href="{% url 'exam:admin-settag-version' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Set tag"><i class="fa fa-pencil"></i></button>
                </td>
                <td>
                    {% if node.status == 'C' %}
                        <span class="label label-primary">Published</span>
                    {% elif node.status == 'S' %}
                            <span class="label label-info">Staged</span>
                    {% elif node.status == 'P' %}
                        <span class="label label-default">Proposal</span>
                    {% endif %}
                </td>
                <td><time datetime="{{ node.timestamp|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></td>
                <td>
                    <div class="btn-group">
                      {% if node.status == 'P' %}
                        <a class="btn btn-xs btn-warning" href="{% url 'exam:admin-editor' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Edit version"><i class="fa fa-pencil fa-fw"></i> edit</a>
                      {% endif %}
                      <a class="btn btn-xs btn-success" target="_blank" href="{% url 'exam:pdf-version' question_id=question.pk lang_id=node.language.pk version_num=node.version %}" title="View PDF"><i class="fa fa-file-pdf-o fa-fw"></i> PDF</a>
                      {% if exam.has_solution %}<a class="btn btn-xs btn-primary" target="_blank" href="{% url 'exam:pdf-solution-version' question_id=question.pk lang_id=node.language.pk version_num=node.version %}" title="View PDF with solution"><i class="fa fa-lightbulb-o"></i> Solution</a>{% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">advanced <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#check-modal" data-remote="false" href="{% url 'exam:admin-check-points' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Check points"><i class="fa fa-check"></i> check points</a></li>
                                <li><a target="_blank" href="{% url 'exam:tex-version' question_id=question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as TeX"><i class="fa fa-fw fa-download"></i> export TeX</a></li>
                                {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:tex-solution-version' question_id=question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as TeX"><i class="fa fa-fw fa-download"></i> export TeX (solution)</a></li>{% endif %}
                                <li><a target="_blank" href="{% url 'exam:export-translation-version' question_id=node.question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as QML"><i class="fa fa-fw fa-download"></i> export QML</a></li>
                                <li><a target="_blank" href="{% url 'exam:html-version' question_id=node.question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as HTML"><i class="fa fa-fw fa-download"></i> export HTML</a></li>
                                {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:html-solution-version' question_id=node.question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as HTML"><i class="fa fa-fw fa-download"></i> export HTML (solution)</a></li>{% endif %}
                                <li><a target="_blank" href="{% url 'exam:odt-version' question_id=node.question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as ODT"><i class="fa fa-fw fa-download"></i> export ODT</a></li>
                                {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:odt-solution-version' question_id=node.question.pk lang_id=node.language.pk version_num=node.version %}" title="Export question as ODT"><i class="fa fa-fw fa-download"></i> export ODT (solution)</a></li>{% endif %}
                            </ul>
                        </div>
                      {% if node.status == 'P' %}
                        <a class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete-modal" data-remote="false" href="{% url 'exam:admin-delete-version' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Delete version"><i class="fa fa-trash-o"></i> delete</a>
                        <a class="btn btn-xs btn-info diff-accept-button" href="{% url 'exam:admin-check-version-before-diff' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Show diff and accept"><i class="glyphicon glyphicon-ok"></i> diff/accept</a>
                      {% endif %}
                      <div class="btn-group">
                          <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">PDF compare <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                              {% for cmp_node in question.versionnode_set.all %}
                                {% if cmp_node.version != node.version %}
                                  <li><a target="_blank" href="{% url 'exam:pdfdiff-version' question_id=question.pk lang_id=node.language.pk new_version_num=node.version old_version_num=cmp_node.version %}" title="View PDF diff"><i class="fa fa-file-pdf-o fa-fw"></i> old: v{{ cmp_node.version }} new: v{{ node.version }}</a></li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                          {% if exam.has_solution %}<div class="btn-group">
                            <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">PDF compare (solution) <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for cmp_node in question.versionnode_set.all %}
                                  {% if cmp_node.version != node.version %}
                                    <li><a target="_blank" href="{% url 'exam:pdfdiff-solution-version' question_id=question.pk lang_id=node.language.pk new_version_num=node.version old_version_num=cmp_node.version %}" title="View PDF diff"><i class="fa fa-file-pdf-o fa-fw"></i> old: v{{ cmp_node.version }} new: v{{ node.version }}</a></li>
                                {% endif %}
                              {% endfor %}
                              </ul>
                            </div>{% endif %}
                      {% if node.status == 'S' and exam_publishable %}
                        <a class="btn btn-xs btn-primary" data-toggle="modal" data-target="#publish-modal" data-remote="false" href="{% url 'exam:admin-publish-version' exam_id=exam.pk question_id=question.pk version_num=node.version %}" title="Show diff and accept"><i class="fa fa-play-circle"></i> publish</a>
                      {% endif %}
                    </div>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br/>
{% endfor %}
<br/>
