{% load static %}
{% for question in exam.question_set.all %}
<tr id="ex{{ exam.pk }}_q-{{ question.pk }}">
    <td><span class="handle"><i class="fa fa-arrows"></i></span></td>
    <td>{{ question.name }}</td>
    <td></td>
    <td>
      <div class="btn-toolbar">
          {# {% url 'exam:admin-props' exam_id=exam.pk question_id=question.pk %} #}
        <a class="btn btn-sm btn-default" href="#" title="Edit properties"><i class="fa fa-pencil fa-fw"></i></a>
        <a class="btn btn-sm btn-primary" href="{% url 'exam:admin-editor' exam_id=exam.pk question_id=question.pk %}" title="New Version"><i class="fa fa-plus fa-fw"></i></a>
      </div>
    </td>
</tr>
{% endfor %}
