{% load static %}
{% for fb in feedbacks %}
<tr>
    <td>{{ fb.get_status_display }}</td>
    <td>{{ fb.delegation.name }}</td>
    <td>{{ fb.question.name }}</td>
    <td>{{ fb.part }}</td>
    <td>{{ fb.comment }}</td>
    <td>{{ fb.timestamp }}</td>
    <td>
      <div class="btn-toolbar">
        <a href="{% url 'exam:feedback-like' feedback_id=fb.pk %}" class="btn btn-default">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </a>
        <a href="{% url 'exam:feedback-unlike' feedback_id=fb.pk %}" class="btn ban-default">
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        </a> <!-- btn-toolbar -->
    </td>
</tr>
{% endfor %}
