{% load static %}
{% for node in node_list %}
<tr>
    <td>{{ node.question.name }}</td>
    <td>{{ node.language.name }}</td>
    <td><time datetime="{{ node.timestamp|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time></td>
    <td>{{ exam_active|yesno:'In progress,Closed' }}</td>
    <td>
      <div class="btn-group">
        {% if exam_active %}
          {% if node.language.is_pdf %}

            <a class="btn btn-xs btn-warning" data-toggle="modal" data-target="#upload-modal" data-remote="false" href="{% url 'exam:upload-translation' question_id=node.question.pk lang_id=node.language.pk %}" title="Upload"><i class="fa fa-upload fa-fw"></i> upload</a>

          {% else %}

            <a class="btn btn-xs btn-warning" href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=node.question.pk orig_id=1 lang_id=node.language.pk %}" title="Edit question"><i class="fa fa-pencil fa-fw"></i> edit</a>

          {% endif %}
        {% endif %}

        <a class="btn btn-xs btn-success" target="_blank" href="{% url 'exam:pdf' question_id=node.question.pk lang_id=node.language.pk %}" title="View PDF"><i class="fa fa-fw fa-file-pdf-o"></i> PDF</a>

        {% if user.is_superuser or not node.language.is_pdf %}
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            advanced <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% if user.is_superuser %}
            <li><a target="_blank" href="{% url 'exam:tex' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as TeX"><i class="fa fa-fw fa-file-text-o"></i> export TeX</a></li>
            <li><a target="_blank" href="{% url 'exam:html' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as HTML"><i class="fa fa-fw fa-file-text-o"></i> export HTML</a></li>
            <li><a target="_blank" href="{% url 'exam:odt' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as ODT"><i class="fa fa-fw fa-file-text-o"></i> export ODT</a></li>
            {% endif %}
            {% if not node.language.is_pdf %}
            <li><a target="_blank" href="{% url 'exam:tex' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as TeX"><i class="fa fa-fw fa-download"></i> export TeX</a></li>
            <li><a target="_blank" href="{% url 'exam:export-translation' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as QML"><i class="fa fa-fw fa-download"></i> export QML</a></li>
            {% if exam_active %}
            <li><a data-toggle="modal" data-target="#import-modal" data-remote="false" href="{% url 'exam:import-translation' question_id=node.question.pk lang_id=node.language.pk %}" title="Import question from QML"><i class="fa fa-fw fa-upload"></i> import QML</a></li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </td>
</tr>
{% endfor %}
{% for node in official_nodes %}
<tr>
    <td>{{ node.question.name }}</td>
    <td>{{ node.language.name }} (Official)</td>
    <td><time datetime="{{ node.timestamp|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time></td>
    <td></td>
    <td>
      <div class="btn-group">
        <a class="btn btn-xs btn-success" target="_blank" href="{% url 'exam:pdf' question_id=node.question.pk lang_id=node.language.pk %}" title="View PDF"><i class="fa fa-fw fa-file-pdf-o"></i> PDF</a>
        {% if exam.has_solution %}<a class="btn btn-xs btn-primary" target="_blank" href="{% url 'exam:pdf-solution' question_id=node.question.pk lang_id=node.language.pk %}" title="View PDF with solution"><i class="fa fa-lightbulb-o"></i> PDF (solution)</a>{% endif %}
        {% if user.is_superuser %}
        <div class="btn-group">
          <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
            advanced <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="{% url 'exam:tex' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as TeX"><i class="fa fa-fw fa-file-text-o"></i> export TeX</a></li>
            {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:tex-solution' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as TeX"><i class="fa fa-fw fa-file-text-o"></i> export TeX (solution)</a></li>{% endif %}
            <li><a target="_blank" href="{% url 'exam:html' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as HTML"><i class="fa fa-fw fa-file-text-o"></i> export HTML</a></li>
            {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:html-solution' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as HTML"><i class="fa fa-fw fa-file-text-o"></i> export HTML (solution)</a></li>{% endif %}
            <li><a target="_blank" href="{% url 'exam:odt' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as ODT"><i class="fa fa-fw fa-file-text-o"></i> export ODT</a></li>
            {% if exam.has_solution %}<li><a target="_blank" href="{% url 'exam:odt-solution' question_id=node.question.pk lang_id=node.language.pk %}" title="Export question as ODT"><i class="fa fa-fw fa-file-text-o"></i> export ODT (solution)</a></li>{% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </td>
</tr>
{% endfor %}
