{% extends "base.html" %}
{% load static %}

{% block extra-head %}
    <link href="{% static "ckeditor/style.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">

<h2>{{ exam_title }}</h2>

<div id="exam-translation">
    
<div class="row">
  <div class="col-sm-5">
    <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Version <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">v3</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">v2</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">v1</a></li>
          </ul>
        </li>
        
      <!-- <li role="presentation" class="active"><a href="#">Full version</a></li> -->
      <li role="presentation"><a href="#">Diff</a></li>
    </ul>
  </div>
</div>
    
{% for part in exam_parts %}
<div class="row">
  <div class="col-sm-5 translate-original" id="part{{ forloop.counter }}-original">
      {{ part|safe }}
  </div>
  <div class="col-sm-2 text-center" style="display: table-cell; vertical-align: middle;">
    <a href="#" class="translate-copy-button" id="part{{ forloop.counter }}-copy" class aria-label="Copy original version" title="Copy original version">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
  </div>
  <div class="col-sm-5">
      <div class="translate-foreign" id="part{{ forloop.counter }}-translate" contenteditable="true">
      {{ part|safe }}
      </div>
  </div>
</div>
<hr/>
{% endfor %}
</div>

</div> <!-- /container -->

{% endblock %}

{% block extra-script %}
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "mathquill/mathquill.min.js" %}"></script>
    
    <script>
        CKEDITOR.plugins.addExternal( 'mathedit', '{% static "mathedit/" %}', 'plugin.js' );
        
        $(function(){
            
            $(".translate-original").each(function() {
                var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img src="http://latex.codecogs.com/svg.latex?$1" />');
                $(this).html(newtext);
            });
            $(".translate-foreign").each(function() {
                var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img src="http://latex.codecogs.com/svg.latex?$1" />');
                $(this).html(newtext);
            });
            
            $(".translate-copy-button").click(function( event ) {
                event.preventDefault();
            });
            
            
            // var newtext = $("#editor1").html().replace(/\$(.+?)\$/g, '<img src="http://latex.codecogs.com/svg.latex?$1" />');
            // $("#editor1").html(newtext);
            
            // CKEDITOR.inline( 'exam-translation', {
            //     extraPlugins: 'mathedit',
            //     // height : '600px',
            // });
            
            CKEDITOR.config.toolbarGroups = [
						{ name: 'editing',		groups: [ 'basicstyles', 'links' ] },
						{ name: 'undo' },
                        '/',
						{ name: 'clipboard',	groups: [ 'selection', 'clipboard' ] },
                        { name: 'insert' },
						{ name: 'about' }
					];
            
        });
        
    </script>
    
{% endblock %}

