<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Oly Exams Team">
    <meta name="google-site-verification" content="zqUrYerHwOScwmLIi5QyzGlA6gQn7DaG4idgsqq3_7U" />

	<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" href="{% static FAVICON_PATH|add:'/favicon-32x32.png' %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static FAVICON_PATH|add:'/favicon-16x16.png' %}" sizes="16x16">
	<link rel="manifest" href="{% static "manifest.json" %}">
	<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

    <title>{% block head-title %}Exam Tools{% endblock %}</title>

    <link href="{% static "datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    {% block extra-head %}{% endblock %}

    <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .fixed-banner {
      position:fixed;
      top: 0;
      width: 100%;
      padding: 4px 20px;
      box-sizing: border-box;
      z-index: 1;
      text-align: center;
    }
    .unsupported-warning {
      background-color: rgb(255, 201, 130);
      color: rgb(119, 77, 0);
    }
    .debug-warning {
      z-index: 2;
      background-color: rgb(255, 130, 130);
      color: rgb(119, 0, 0);
    }

    </style>
  </head>

  <body>
      {% block banner %}
      {% if DEBUG %}
      <div class="fixed-banner debug-warning" style="position: relative; margin-top: -20px;">This instance is in <strong>Debug Mode!</strong></div>
      <div class="fixed-banner debug-warning">This instance is in <strong>Debug Mode!</strong></div>
      {% endif %}
      {% if not DEBUG and not OFFICIALLY_SUPPORTED %}
        <div class="fixed-banner unsupported-warning" style="position: relative; margin-top: -20px;"><strong>Open Source Exam Tools!</strong> created by OlyExams, but run without OlyExams event support!</div>
        <div class="fixed-banner unsupported-warning"><strong>Open Source Exam Tools!</strong> created by OlyExams, but run without OlyExams event support!</div>
      {% endif %}
      {% endblock %}
      {% if DEMO_MODE %}
      <div class="alert alert-info" role="alert"><div class="container"><strong>DEMO VERSION.</strong> This is a demo version of the Exam Tools. (v{{ VERSION }} - {{ VERSION_DATE }})</div></div>
      {% endif %}
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Exam Tools</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if perms.ipho_core.can_see_boardmeeting %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exam <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if perms.ipho_core.is_delegation and not user.is_superuser %}
                  <li class="dropdown-header">Step-by-step guide</li>
                  <li><a href="{% url 'exam:wizard' %}">Get started!</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Translations</li>
                  <li><a href="{% url 'exam:language-list' %}">Define languages</a></li>
                  <li><a href="{% url 'exam:list' %}">My translations</a></li>
                  <li><a href="{% url 'exam:submission-exam-list' %}">Final submission</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  <li class="dropdown-header">All translations</li>
                  <li><a href="{% url 'exam:exam-view' %}">View official English exam</a></li>
                  <li><a href="{% url 'exam:list-all' %}">View all translations</a></li>

                  <li class="divider"></li>
                  <li class="dropdown-header">Exam feedbacks</li>
                  <li><a href="{% url 'exam:feedbacks-list' %}">{% if perms.ipho_core.is_delegation and not user.is_superuser %}View{% else %}Manage{% endif %} feedbacks</a></li>

                </ul>
              </li>
              {% endif %}

              {% if perms.ipho_core.is_delegation_print and not user.is_superuser %}
              <li><a href="{% url 'exam:submission-delegation-submitted' %}">Submitted Exams</a></li>
              {% endif %}

              {% if perms.ipho_core.is_delegation and not user.is_superuser %}
              <li><a href="{% url 'marking:delegation-summary' %}">Results</a></li>
              {% endif %}
              {% if perms.ipho_core.can_vote and not user.is_superuser and user.votingright_set.all %}
              <li><a href="{% url 'poll:voter-index' %}">Voting</a></li>
              {% endif %}
              {% if perms.ipho_core.can_see_boardmeeting or perms.ipho_core.is_delegation_print %}
              <li><a href="{% url 'download:main' %}">Downloads</a></li>
              {% endif %}
              {% if perms.ipho_core.can_print_exam_site %}
              <li><a href="{% url 'print:main' %}">Print</a></li>
              {% elif perms.ipho_core.can_print_boardmeeting_site %}
              <li><a href="{% url 'print:main' %}">Draft Print</a></li>
              {% endif %}

              {% if perms.ipho_core.is_organizer_admin or perms.ipho_core.is_marker or perms.ipho_core.is_printstaff or perms.ipho_core.can_edit_exam or perms.ipho_core.can_manage_feedback or perms.ipho_core.can_edit_poll %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin tools <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if perms.ipho_core.is_organizer_admin and perms.ipho_core.can_impersonate %}
                  <li class="dropdown-header">Django admin</li>
                  {% if user.is_superuser %}
                  <li><a href="{% url 'admin:index' %}">Admin</a></li>
                  {% endif %}
                  {% if perms.ipho_core.can_impersonate %}
                  <li><a href="{% url 'list_impersonate' %}">Impersonate user</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  {% endif %}

                  {% if perms.ipho_core.is_organizer_admin %}
                    <li class="dropdown-header">Event Management</li>
                  {% if perms.ipho_core.can_access_control%}
                    <li><a href="{% url 'control:cockpit' %}">Cockpit</a></li>
                  {% endif %}
                    <li><a href="{% url 'exam:auto-translate-count' %}">Auto translate costs</a></li>
                    <li><a href="{% url 'send_push' %}">Send push notifications</a></li>
                    <li class="divider"></li>
                  {% endif %}

                  {% if perms.ipho_core.can_edit_exam %}
                  <li class="dropdown-header">Exam</li>
                  <li><a href="{% url 'exam:admin' %}">Exam management</a></li>
                  <li><a href="{% url 'exam:figures' %}">Figure management</a></li>
                  {% if perms.ipho_core.is_organizer_admin %}
                  <li><a href="{% url 'exam:admin-submissions-translation' %}">Submission progress</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  {% endif %}
                  {% if perms.ipho_core.can_manage_feedback %}
                  <li class="dropdown-header">Feedbacks</li>
                  <li><a href="{% url 'exam:feedbacks-list' %}">Manage feedbacks</a></li>
                  <li><a href="{% url 'exam:admin-feedbacks-export-main' %}">Export feedbacks</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  {% if perms.ipho_core.can_edit_poll %}
                  <li class="dropdown-header">Voting</li>
                  <li><a href="{% url 'poll:staff-index' %}">Voting management</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  {% if perms.ipho_core.is_printstaff %}
                  <li class="dropdown-header">Printing</li>
                  <li><a href="{% url 'exam:bulk-print' %}">Bulk print / scan status</a></li>
                  <li><a href="{% url 'exam:upload-scan' %}">Upload scans</a></li>
                  <li><a href="{% url 'exam:extra-sheets-select-exam' %}">Generate extra sheets</a></li>
                  <li><a href="{% url 'exam:print-submissions-translation' %}">Submission progress (table)</a></li>
                  {% endif %}
                  {% if user.is_superuser %}
                  <li class="divider"></li>
                  <li class="dropdown-header">Documents API</li>
                  <li><a href="{% url 'exam:api-keys' %}">Get API keys</a></li>
                  <li><a href="{% url 'api-exam:schema' %}">API schema</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  {% if perms.ipho_core.is_organizer_admin or perms.ipho_core.is_marker %}
                  <li class="dropdown-header">Marking</li>
                  {% if perms.ipho_core.is_organizer_admin %}
                  <li><a href="{% url 'marking:import-exam' %}">Import exam into marking system</a></li>
                  {% endif %}
                  <li><a href="{% url 'marking:official-marking-index' %}">Official marking</a></li>
                  <li><a href="{% url 'exam:admin-scan-progress' %}">Scan progress</a></li>
                  {% if perms.ipho_core.is_organizer_admin %}
                  <li><a href="{% url 'marking:summary' %}">(Advanced marking editing)</a></li>
                  {% endif %}
                  <li><a href="{% url 'marking:progress' %}">Marking progress</a></li>
                  {% if perms.ipho_core.is_organizer_admin %}
                  <li><a href="{% url 'marking:marking-submissions' %}">Delegation marking subm. progress</a></li>
                  {% endif %}
                  <li><a href="{% url 'marking:moderation-index' %}">{% trans "Moderation" %}</a></li>
                  {% if perms.ipho_core.is_organizer_admin %}
                  <li><a href="{% url 'marking:ranking' %}">Ranking</a></li>
                  <li><a href="{% url 'marking:export' %}">Export markings (all versions, slow)</a></li>
                  <li><a href="{% url 'marking:export-total' %}">Export markings (final) </a></li>
                  {% endif %}
                  <li class="divider"></li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}

              <li><a href="{{ DOCS_URL }}">Documentation</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              {% if request.session.impersonation_user %}
              <li><a href="{% url 'impersonate_stop' %}">Stop impersonation</a></li>
              {% endif %}
              <li class="navbar-text">{{ user.username }},
                <strong>
                {% if user.is_superuser %}
                admin
                {% elif perms.ipho_core.is_organizer_admin %}
                staff admin
                {% elif perms.ipho_core.is_printstaff or perms.ipho_core.can_edit_exam %}
                staff
                {% elif perms.ipho_core.is_delegation %}
                delegation
                {% elif perms.ipho_core.is_marker %}
                marker
                {% else %}
                user
                {% endif %}
                </strong></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}?next=/">Login</a></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div>


      {% block content %}{% endblock %}

      <div class="footer">
          <hr />
          <div class="container">
              <p class="text-muted">Copyright © 2014 - 2023 <a href="http://oly-exams.org/">Oly Exams Team</a>. Version {{ VERSION }} - {{ VERSION_DATE }}. <a href="https://gitlab.com/oly-exams/exam_tools">Source</a></p>
          </div>
      </div>
    <script src="{% static "jquery/js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datatables.net/js/dataTables.min.js" %}"></script>
    <script src="{% static "datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "datatables-plugins/sorting/natural.js" %}"></script>
    <script src="{% static "bootstrap-ckeditor-modal-fix.js" %}"></script>
    <script src="{% static "moment.min.js" %}"></script>
    {% block extra-script %}{% endblock %}
  </body>
</html>
