<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Michele Dolfi, IPhO 2016">
    {# <link rel="icon" href="../../favicon.ico"> #}

    <title>{% block head-title %}IPhO Exam Tools{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    {% block extra-head %}{% endblock %}

    <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    </style>
  </head>

  <body>

      {% if DEMO_MODE %}
      <div class="alert alert-info" role="alert"><div class="container"><strong>DEMO VERSION.</strong> This is a demo version of the IPhO 2016 Exam Tools. (v{{ VERSION }} - {{ VERSION_DATE }})</div></div>
      {% endif %}
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">IPhO 2016 - Exam Tools</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exam <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Step-by-step guide</li>
                  <li><a href="{% url 'exam:wizard' %}">Get started!</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Translations</li>
                  <li><a href="{% url 'exam:language-list' %}">Define languages</a></li>
                  <li><a href="{% url 'exam:list' %}">Your translations</a></li>
                  <li><a href="{% url 'exam:submission-exam-list' %}">Final submission</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">All translations</li>
                  <li><a href="{% url 'exam:list-all' %}">View all translations</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Exam feedbacks</li>
                  <li><a href="{% url 'exam:feedbacks-list' %}">Submit feedbacks</a></li>
                </ul>
              </li>

              {% if not DEMO_MODE %}
              <li><a href="{% url 'poll:voterIndex' %}">Voting</a></li>
              <li><a href="#">Results</a></li>
              {% endif %}

              {% if perms.ipho_core.is_staff %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin tools <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'exam:admin' %}">Exam</a></li>
                  <li><a href="{% url 'exam:figures' %}">Figures</a></li>
                  <li><a href="{% url 'poll:staffIndex' %}">Voting</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'admin:index' %}">Admin interface</a></li>
                </ul>
              </li>
              {% endif %}

              <li><a href="{{ DOCS_URL }}">Documentation</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="navbar-text">{{ user.username }}, <strong>{% if user.is_superuser %}admin{% elif perms.ipho_core.is_staff %}staff{% elif perms.ipho_core.is_leader %}delegation{% endif %}</strong></li>
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'django.contrib.auth.views.login' %}?next=/">Login</a></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </div>


      {% block content %}{% endblock %}

      <div class="footer">
          <hr />
          <div class="container">
              <p class="text-muted">Copyright © 2016 <a href="http://www.ipho2016.org">IPhO 2016</a>. Version {{ VERSION }} - {{ VERSION_DATE }}.</p>
          </div>
      </div>

    <script src="{% static "jquery/js/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-ckeditor-modal-fix.js" %}"></script>
    {% block extra-script %}{% endblock %}
  </body>
</html>
