<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Oly Exams Team">
    <meta name="google-site-verification" content="zqUrYerHwOScwmLIi5QyzGlA6gQn7DaG4idgsqq3_7U" />

    <style>
    body {
      background-image: url("./chocobunny.svg");
      background-size: 150px;
    }
    </style>
    <body></body>
</html>
