{% extends "base.html" %}
{% load static %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}
.handle {
    cursor: move;
}
</style>
{% endblock %}

{% block content %}
    <div class="modal fade" id="import-modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="question-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"></button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delete-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="publish-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <form method="post" action="">
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="publish-button" class="btn btn-danger">Publish</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="accept-check-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
              <h4 class="modal-title"></h4>
            </div>
            <form method="post" action="">
                <div class="modal-body"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <a href="" id="accept-anyway-button" class="btn btn-danger">Continue to diff</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    <div class="modal fade" id="check-modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div  id="check-modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
<div class="container">
    <div class="page-header">
      <h1>Exam management</h1>
    </div>

    <div id="alerts-container"></div>

    {% for ex in exam_list %}
    <h3>
		{{ ex.name }}
        {% if ex.flags|binand:ex.FLAG_SQUASHED %}<span class="label label-default">Squashed</span>{% endif %}
        <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#question-modal" data-remote="false" href="{% url 'exam:admin-add-question' exam_id=ex.pk %}">
            <i class="fa fa-plus fa-fw"></i> Add question</button>
        <a class="btn btn-secondary" data-toggle="collapse" href="#exam-tbody-{{ ex.pk }}" role="button" aria-expanded="false" aria-controls="#exam-tbody-{{ ex.pk }}">
            Hide/Show
        </a>
    </h3>
    <div id="exam-tbody-{{ ex.pk }}" class="panel-group collapse in">
        <i class="fa fa-spinner fa-pulse"></i> Loading...
    </div>
    {% endfor %}


</div> <!-- /container -->


{% endblock %}

{% block extra-script %}
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function toggleChevron(e) {
        $(e.target)
            .prev('.panel-heading')
            .find('span.glyphicon')
            .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }

    function update_questions(tid, active) {
        active = (typeof active !== 'undefined') ? active : false;

        $.ajax({
            method: "GET",
            url: "{% url 'exam:admin' %}/",
            data:{exam_id:tid},
            dataType: "json",
        }).done(function( data ) {
            var exam_tbody = $("#exam-tbody-"+tid);
            var content = $(data['content']);
            if (active) {
                content.find('.panel-collapse').addClass('in');
            }
            exam_tbody.html(content);
            exam_tbody.find('[data-action="new-version"]').on('click', function(evt) {
                evt.preventDefault();
                var button = $(this);
                var href = button.data('action-url');
                $.ajax({
                    method: "GET",
                    url: href,
                    dataType: "json",
                }).done(function( data ) {
                    if (data['success']) {
                        update_questions(tid, true);
                    } else {
                        alert('An error occured.');
                    }
                });
            });
            exam_tbody.find('.panel-collapse').on('hide.bs.collapse', toggleChevron);
            exam_tbody.find('.panel-collapse').on('show.bs.collapse', toggleChevron);
            $("time[data-format]").each(function () {
                var el = $(this);
                var dt = moment(el.attr("datetime"));
                el.text(dt.format(el.data("format")));
            });
        });
    }

    $(document).on('submit', '#question-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#question-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                update_questions(data['exam_id']);

                $('#question-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

            }
        });
    });

    $('#question-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('.modal-footer').removeClass('hide');
                modal.find('button[type="submit"]').text(data['submit']);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

    $(document).on('submit', '#delete-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#delete-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                update_questions(data['exam_id']);

                $('#delete-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

            }
        });
    });

    $('#delete-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('.modal-footer').removeClass('hide');
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

    $(document).on('submit', '#publish-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();

        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#publish-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                update_questions(data['exam_id']);

                $('#publish-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

            }
        });
    });

    $('#publish-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);
        $('#publish-button').show();

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('.modal-footer').removeClass('hide');
                modal.find("[data-toggle=popover]").popover(); // activate popover
                if (data['hide-publish-button']||false){
                    $('#publish-button').hide();
                }
            },
        });
    })

    $(document).on('click',"a.diff-accept-button",function(evt) {
        var abtn = evt.target;
        var $abtn = $(abtn);
        evt.preventDefault();
        $('#accept-anyway-button').attr("href", "");
        $('#accept-anyway-button').hide();
        $('#accept-check-modal .modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');

        $('#accept-check-modal .modal-body').html("");
        $('#accept-check-modal').modal("show");

        var url = abtn.href;
        $.ajax({
            url: url,
            type: "POST",
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                console.log(data);
                if (!data['success']) {
                    console.log("bbbb");
                    $('#accept-anyway-button').attr("href", data["url"]);
                    $('#accept-check-modal .modal-body').html(data["message"]);
                    $('#accept-check-modal .modal-title').html(data["title"]);
                    $('#accept-anyway-button').show();
                    return;
                }else{
                    window.location.assign(data["url"]);
                }
            }
        });
    });

    $('#check-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        $("#check-modal-header").removeClass();
        $("#check-modal-header").addClass("modal-header");

        //modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('.modal-body').html(data['msg']);
                $("#check-modal-header").addClass(data['class']);
                //modal.find('.modal-footer').removeClass('hide');
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

    {% for ex in exam_list %}
    update_questions({{ ex.pk }});
    {% endfor %}


    $(document).on('submit', '#import-modal form', function(evt) {
      var form = evt.target;
      var $form = $(form);
      evt.preventDefault();
      var exid = $('#import-modal').data('exid');
      console.log();

      var data = new FormData($form.get(0));
      $.ajax({
          url: form.action,
          type: form.method,
          data: data,
          cache: false,
          processData: false,
          contentType: false,
          success: function(data) {
            var modal = $('#import-modal');
            if (!data['success']) {
              modal.find('.modal-title').text(data['title']);
              modal.find('form').attr('action', data['href']);
              modal.find('.modal-body').html(data['form']);
              modal.find('button').prop("disabled",false);
              modal.find('button[type="submit"]').text(data['submit']);
              modal.find('.modal-footer').removeClass('hide');
              return;
            }
            update_questions(exid, true);
            modal.modal('hide');
            }
        });
    });

    $('#import-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);
        var exid = button.data('exid');
        modal.data('exid', exid);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');
        modal.find('.modal-footer').addClass('hide');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button').prop("disabled",false);
                modal.find('button[type="submit"]').text(data['submit']);
                modal.find('.modal-footer').removeClass('hide');
            },
        });
    });

});
</script>
{% endblock %}
