{% for field in fields_set %}
<div class="field-content">
    <div class="row">
        <div class="col-xs-12">
            <span class="handle"><i class="fa fa-arrows"></i></span>
            <span class="label label-info">{{ field.tag }}</span>
            <span id="{{ field.id }}-attributes">
            {% include 'ipho_exam/partials/admin_editor_attributes.html' with attributes=field.attributes %}
            </span>
            <a class="btn btn-xs btn-default" title="Edit block" data-toggle="modal" data-target="#block-modal" data-remote="false" href="{% url 'exam:admin-editor-block' question_id=question.pk exam_id=exam.pk block_id=field.id %}"><i class="fa fa-pencil fa-fw"></i></a>
            <a class="btn btn-xs btn-danger" href="#" title="Delete block" data-toggle="modal" data-target="#delete-modal" data-remote="false" data-block-id="{{ field.id }}"><i class="fa fa-trash-o fa-fw"></i></a>
            {% if field.description %} <p>{{ field.description }}</p> {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if field.content_html %}
            <div class="question-content" id="{{ field.id }}-content" data-content="{{ field.content }}">
                {{ field.content_html|safe }}
            </div>
            {% endif %}
        </div>
    </div>

    {% if field.children %}
    <div class="row">
        <div class="col-xs-12 content-field-nested" id="{{ field.id }}-children">
            {% with field.children as fields_set %}
                {% include 'ipho_exam/admin_editor_field.html' %}
            {% endwith %}
        </div>
    </div>
    {% endif %}

{% if field.has_children %}
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">
              <a class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" title="New block">
                <i class="fa fa-plus fa-fw"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Subquestion</a></li>
                <li><a href="#">Paragraph</a></li>
                <li><a href="#">Bullet list</a></li>
                <li><a href="#">Bullet list item</a></li>
                <li><a href="#">Figure</a></li>
                <li><a href="#">Equation</a></li>
              </ul>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endfor %}
