{% extends "ipho_exam/base.html" %}
{% load static %}
{% load exam_utils_tags %}
{% load crispy_forms_tags %}

{% block extra-head %}
<style>
.div-inline{
    display:inline-block;
}
</style>
{% endblock %}

{% block breadcrumb %}
<li><a href="#">Admin</a></li>
<li class="active">Bulk print / scan status</li>
{% endblock %}

{% block pageheader %}<h1>Bulk print / scan status</h1>{% endblock %}

{% block exam-content %}
<p class="lead">
View and print individual documents, or select and print in bulk.
</p>
<p class="alert alert-info">
<i class="fa fa-info-circle"></i>
This list shows only documents that have been submitted by the delegations.
{% for alert in alert_info %}
<br><i class="fa fa-info-circle"></i> {{ alert }}
{% endfor %}
</p>

<p> Number of entries: {{ entries }} </p>

<div id="alerts-container">
{% for class, msg in messages %}
<div class="alert {{ class }} alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>{{ msg|safe }}</div>
{% endfor %}
</div>

  <div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if exam %}
          {{ exam.name }}
      {% else %}
          Filter exam
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url ex=None page=1 %}">-- None --</a></li>
      {% for ex in exams %}
          <li {% if exam == ex %} class="active" {% endif %}><a href="{% this_url ex=ex.pk page=1 %}">{{ ex.name }}</a></li>
      {% endfor %}
        </ul>
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if position %}
          {{ position }}
      {% else %}
          Filter Position
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url pos=None %}">-- None --</a></li>
      {% for pos in positions %}
          <li {% if position == pos %} class="active" {% endif %}><a href="{% this_url pos=pos %}">{{ pos }}</a></li>
      {% endfor %}
        </ul>
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if delegation %}
          {{ delegation.name }}
      {% else %}
          Filter delegation
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url dg=None page=1 %}">-- None --</a></li>
      {% for dg in delegations %}
          <li {% if delegation == dg %} class="active" {% endif %}><a href="{% this_url dg=dg.pk page=1 %}">{{ dg.country }} ({{ dg.name }})</a></li>
      {% endfor %}
        </ul>
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if exclude_gi %}
          General Instructions excluded
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url exclude_gi=None page=1 %}">reset</a></li>
        </ul>
      {% else %}
          Exclude General Instructions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url exclude_gi='true' page=1 %}">apply</a></li>
        </ul>
      {% endif %}
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if exam_print_filter %}
          Exam {{ exam_print_filter }}
      {% else %}
          Filter exam print
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url ex_prt=None page=1 %}">-- no filter --</a></li>
          {% for opt in exam_print_filter_options %}
            <li {% if exam_print_filter == opt %} class="active" {% endif %}><a href="{% this_url ex_prt=opt page=1 %}">Exam {{ opt }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if scan_status %}
        {% if scan_status == 'null' %}
          No scan
        {% elif scan_status == 'any' %}
          Scan exists
        {% else %}
          {{ scan_status }}
        {% endif %}
      {% else %}
          Filter scan status
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url st=None page=1 %}">-- no filter --</a></li>
          <li><a href="{% this_url st='null' page=1 %}">no scan</a></li>
          <li><a href="{% this_url st='any' page=1 %}">any status</a></li>
          {% for opt in scan_status_options %}
            <li {% if scan_status == opt %} class="active" {% endif %}><a href="{% this_url st=opt page=1 %}">{{ opt }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="dropdown div-inline">
        <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      {% if scan_print_filter %}
          Scan {{ scan_print_filter }}
      {% else %}
          Filter scan print
      {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% this_url sc_prt=None page=1 %}">-- no filter --</a></li>
          {% for opt in scan_print_filter_options %}
            <li {% if scan_print_filter == opt %} class="active" {% endif %}><a href="{% this_url sc_prt=opt page=1 %}">Scan {{ opt }}</a></li>
          {% endfor %}
        </ul>
      </div>

  </div>

  <br/>

    <form method="POST">
    <table class="table table-striped">
      <tr>
          <th></th>
          <th>Exam</th>
          <th>#</th>
          <th>Participant</th>
          <th>Num pages</th>
          <th>Barcode</th>
          <th>Printouts <button type="button" class="printouts-all">invert selection</button>
          <th>Scans <button type="button" class="scan-all">invert selection</button></th>
          <th>Scan status</th>
          <th>Full scan</th>
      </tr>
      <tbody>
        {% for d in docs_list %}
          <tr>
            <td>{{ d.pk }} </td>
            <td>{{ d.participant__exam__name }}<br>Submitted:
              {% if d.participant__exam__delegation_status__timestamp %}
              <time datetime="{{ d.participant__exam__delegation_status__timestamp|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time>
              {% else %}
              --:--
              {% endif %}
            </td>
            <td>{{ d.position }}</td>
            <td>{{ d.participant__code }}</td>
            <td>{{ d.num_pages }} / {{ d.barcode_num_pages }} / {{ d.extra_num_pages }}</td>
            <td>{{ d.barcode_base }}</td>
            <td align="center">
              <a class="btn btn-default btn-xs doc-link-holder" id="exam-doc-{{ d.participant__id }}-{{ d.position }}" href="{% url 'exam:pdf-exam-pos-participant'  exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}"><i class="fa fa-fw fa-file-pdf-o"></i> view</a>
              <br />
              {% if d.participant__exam__submission_printing %}
              <input class="printouts-single" type="checkbox" name="printouts[]" value="{{ d.pk }}" />
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-print"></i>
                  print <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for p in queue_list %}
                  <li><a href="{% url 'exam:print-doc' exam_id=d.participant__exam__id position=d.position participant_id=d.participant__id queue=p.0 doctype='P' %}">{{ p.1 }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              Printing is not activated for exam: {{ d.participant__exam__name }}
              {% endif %}
              <br />
              Printed:
              {% if d.last_print_p %}
              <time datetime="{{ d.last_print_p|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time>
              {% else %}
              --:--
              {% endif %}
            </td>
            <td align="center">
              {% if d.scan_file %}
                <a class="btn btn-default btn-xs doc-link-holder" id="processed_scan-{{ d.participant__id }}-{{ d.position }}" href="{% url 'exam:scan-exam-pos-participant' exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}" scan_mark_url = ><i class="fa fa-fw fa-file-pdf-o"></i> view</a>
                <br />
                <input class="scan-single" type="checkbox" name="scans[]" value="{{ d.pk }}"  scan_mark_url="{% url 'exam:mark-scan-as-printed' doc_id=d.pk %}"/>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-print"></i>
                    print <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for p in queue_list %}
                    <li><a href="{% url 'exam:print-doc' exam_id=d.participant__exam__id position=d.position participant_id=d.participant__id queue=p.0 doctype='S' %}">{{ p.1 }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <br />
                Scanned:
                {% if d.timestamp %}
                <time datetime="{{ d.timestamp|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time>
                {% else %}
                --:--
                {% endif %}
                <br />
                Printed:
                <span class="scan-print-time">
                {% if d.last_print_s %}
                <time datetime="{{ d.last_print_s|date:"c" }}" data-format="YYYY-MM-DD HH:mm:ss"></time>
                {% else %}
                --:--
                {% endif %}
                </span>
                <br />
              {% endif %}
            </td>
            <td>
              {% if d.scan_file %}
              <div class="btn-group">
                {% for r,label in scan_status_choices %}
                <a class="btn btn-default btn-xs scan-status-button {% if d.scan_status == r %}active{% endif %}" href="{% url 'exam:set-scan-status' doc_id=d.pk status=r %}" title="{{ label }}" data-toggle="tooltip">{{ r }}</a>
                {% endfor %}
              </div>
                {% if d.scan_msg %}
                <br />
                <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" data-container="body" data-content="{{ d.scan_msg }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                {% endif %}
              {% endif %}
            </td>
            <td>
              {% if d.scan_file_orig %}
                <a class="btn btn-default btn-xs" href="{% url 'exam:scan-orig-exam-pos-participant' exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}"><i class="fa fa-fw fa-file-pdf-o"></i> view</a>
                <br />
                <div class="btn-group">
                  <a class="btn btn-default btn-xs" href="{% url 'exam:set-scan-full'  doc_id=d.pk %}" title="replace scan by full scan" data-toggle="tooltip"><i class="fa fa-fw fa-angle-double-left"></i></a>
                  <!---<a class="btn btn-default btn-xs" href="#" title="evaluate codes" data-toggle="tooltip"><i class="fa fa-fw fa-qrcode"></i></a>--->
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if docs_list|length > 0 and docs_list|has_scan_file %}
      <div class="student-docs">
        <a class="btn btn-default pull-right combine-all" download="batch.pdf" style="margin-left:6px;margin-top:6px;"><i class="fa fa-plus-square-o"></i> combine selected into PDF</a>
        <!-- used to comply with the merge_on_click function, there will be dynamic elements here -->
      </div>
        <a class="btn btn-default pull-right scan-print-marker" style="margin-left:6px;margin-top:6px;">mark selected as printed</a>
        <a class="btn btn-default pull-right select-10-more-scans" style="margin-left:6px;margin-top:6px;">Select 10 more scans</a>
        <a class="btn btn-default pull-right select-20-scans" style="margin-left:6px;margin-top:6px;">Select first 20 scans</a>
        <a class="btn btn-default pull-right clear-scan-select" style="margin-left:6px;margin-top:6px;">Clear selection</a>
        <div class="clearfix"></div>
    {% endif %}
    {% crispy form %}

    </form>

    <div class="text-center">
      <ul class="pagination">
        {% if docs_list.has_previous %}
        <li>
          <a href="{% this_url page=docs_list.previous_page_number %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for page in all_pages %}
        <li class="{% if page == docs_list.number %}active{% endif %}"><a href="{% this_url page=page %}">{{ page }}</a></li>
        {% endfor %}
        {% if docs_list.has_next %}
        <li>
          <a href="{% this_url page=docs_list.next_page_number %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

{% endblock %}

{% block extra-script %}
<script src="{% static '/pdflib/pdf-lib.min.js' %}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
  $('[data-toggle="popover"]').popover()
})
$('document').ready(function(){
    $("time[data-format]").each(function () {
      var el = $(this);
      var dt = moment(el.attr("datetime"));
      el.text(dt.format(el.data("format")));
    });
});
$('.printouts-all').click(function() {
  $('.printouts-single').each(function() {
    $(this).click();
  });
});
$('.scan-all').click(function() {
  $('.scan-single').each(function() {
    $(this).click();
  });
});

$('.clear-scan-select').click(function() {
  $('.scan-single').each(function(idx, checkbox) {
    checkbox.checked = false;
  });
});
$('.select-20-scans').click(function() {
  $('.scan-single').each(function(idx, checkbox) {
    checkbox.checked = (idx < 20);
  });
});
$('.select-10-more-scans').click(function() {
  var todo = 10;
  $('.scan-single').each(function(idx, checkbox) {
    if(checkbox.checked == false && todo > 0){
      checkbox.checked = true;
      todo -= 1;
    }
  });
});

$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $(document).on('click', 'a.scan-status-button', function(evt) {
        evt.preventDefault();
        var btn = $(evt.target);
        var btngroup = btn.parent();
        var url = btn.prop('href');
        $.ajax({
            url: url,
            type: "POST",
            data: [],
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    return;
                }
                btngroup.children().removeClass("active");
                btn.addClass("active");
            }
        });
    });
  })

  {% include "ipho_exam/partials/merge_pdf_clientside.js"%}
  $(".combine-all").click(function(event){
    $(".student-docs .single-doc").remove();

    $('.scan-single').each(function(i,checkbox){
      if(checkbox.checked){
        const a = document.createElement("a");
        a.className = "single-doc";
        const link = $(".doc-link-holder", checkbox.parentElement).attr("href");
        a.setAttribute("href", link);
        console.log(link);
        $(".student-docs").append(a);
      };
    });
    merge_on_click(event, progress=true);
    var name = `scan_batch_${new String(new Date().toISOString()).replace(/[.:-]+/g, "_").replace(".", "_")}.pdf`;
    $(".combine-all").attr("download", name);
  });

  $(".scan-print-marker").click(function(event){
    $('.scan-single').each(function(i,checkbox){
      if(checkbox.checked){
        const url = $(checkbox).attr("scan_mark_url");
        console.log(url);
        $.ajax({
          url: url,
          type: "POST",
          cache: false,
          processData: false,
          contentType: false,
          success: function(data) {
            console.log(data);
            var elem = $(".scan-print-time", checkbox.parentElement);
            elem.html(data.timehtml);
            var el = $("time", elem);
            var dt = moment(el.attr("datetime"));
            el.text(dt.format(el.data("format")));
          }
        });
      }
    });

  });
</script>
{% endblock %}
