{% extends "base.html" %}
{% load static %}
{% load editor_extras %}

{% block extra-head %}
<style>
.title-dropdown {
    display: inline-block;
}
.title-dropdown .btn {
    padding: 0px 28px;
    padding: 0;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.title-dropdown .dropdown-menu {
    font-size: 20px;
}

.translation-field-nested .row {
    padding-left: 1em;
    padding-right: 1em;
}

body { margin-bottom: 70px; }
</style>

{% endblock %}


{% block content %}
<div class="container">

{% if warning %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning:</strong> {{ warning }}
    </div>
{% endif %}

<div class="page-header">
    <div class="dropdown pull-right">
      <a class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
{% if exam %}
        {{ exam.name }}
{% else %}
        Select exam
{% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
    {% for ex in exam_list %}
        <li {% if exam == ex %} class="active" {% endif %}><a href="{% url 'exam:editor-exam' exam_id=ex.pk %}">{{ ex.name }}</a></li>
    {% endfor %}
      </ul>
    </div>
  <h1>Exam editor</h1>
</div>

<!-- <div class="page-header">
  <h2>Exam editor :

  <span class="title-dropdown dropdown">
    <a class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Theory Exam
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Demo Exam</a></li>
      <li class="active"><a href="#">Theory Exam</a></li>
      <li><a href="#">Experimental Exam</a></li>
    </ul>
  </span>
  </h2>
</div> -->

<ul class="nav nav-tabs">
    {% for q in exam.question_set.all %}
        <li {% if question == q %} class="active" {% endif %}><a href="{% url 'exam:editor-question' exam_id=exam.pk question_id=q.pk %}">{{ q.name }}</a></li>
    {% endfor %}
</ul>

{% if question %}
    
    <form method="post" action=".">
        {% csrf_token %}
        <h3>{{ question.name }} <small><i class="fa fa-fw fa-lg fa-unlock"></i></small></h3>
    
    
        <div class="translation-field-container">
        {% with content_set as fields_set %}
            {% include 'ipho_exam/editor_field.html' %}
        {% endwith %}
        </div>
    
        <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <div class="navbar-right">
                <button type="button" class="btn btn-success navbar-btn"><i class="fa fa-fw fa-file-pdf-o"></i> View PDF</button>
                <button type="button" class="btn btn-default navbar-btn"><i class="fa fa-fw fa-unlock"></i> Lock</button>
                <button type="submit" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
    
          </div>
        </div>
    </form>
{% endif %}
</div> <!-- /container -->

{% endblock %}



{% block extra-script %}
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "mathquill/mathquill.min.js" %}"></script>
    
    <script>
        CKEDITOR.plugins.addExternal( 'mathedit', '{% static "mathedit/" %}', 'plugin.js' );
        
        all_editors = new Array();
        
        $(function(){
            
            $(".translate-original").each(function() {
                var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
                $(this).html(newtext);
            });
            $(".translate-foreign").each(function() {
                var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
                $(this).html(newtext);
            });
            
            $(".translate-copy-button").click(function( event ) {
                field_id =  $(this).attr('id').replace('-copy', '')
                orig = '#' + $(this).attr('id').replace('-copy', '-original')
                all_editors[field_id].setData($(orig).html())
                event.preventDefault();
            });
            
            
            $('.translate-foreign textarea').each(function() {
                myid = $(this).parent().attr('id').replace('-translate', '');
                all_editors[myid] = CKEDITOR.inline(this);
            })
            
            CKEDITOR.config.forcePasteAsPlainText = true;
            CKEDITOR.config.toolbar = [
                    [ 'Bold', 'Italic', 'Underline', '-', 'mathedit', '-', 'BidiLtr', 'BidiRtl']
                ];
            CKEDITOR.config.removePlugins = 'elementspath';
            CKEDITOR.config.resize_enabled = false;
            CKEDITOR.config.extraPlugins = 'bidi,mathedit';
            CKEDITOR.config.removePlugins = 'contextmenu,tabletools,liststyle';
            CKEDITOR.config.extraAllowedContent = 'img(mathImg)';
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.htmlEncodeOutput = false;
            CKEDITOR.config.disableNativeSpellChecker = false;
            
        });
        
    </script>
    
{% endblock %}
