{% extends "base.html" %}
{% load static %}
{% load editor_extras %}

{% block extra-head %}
<link href="{% static "mathquill/mathquill.css" %}" rel="stylesheet">

<style>
span.dropdown {
    display: inline-block;
}
.title-dropdown .btn {
    padding: 0px 28px;
    padding: 0;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.title-dropdown .dropdown-menu {
    font-size: 20px;
}

.translation-field-nested .row {
    padding-left: 1em;
    padding-right: 1em;
}

.cke_textarea_inline {
/*    border:1px #000 solid;*/
}

.field-figure img {
    max-height: 80px;
}
#figure-modal .modal-body img {
    max-width: 100%;
}

ins {
    color: #00f;
    font-decoration: underline;
    -moz-text-decoration-style: wavy;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;
}
del {
    color: #f00;
    font-decoration: line-through;
}

body { margin-bottom: 70px; }
</style>

{% endblock %}


{% block content %}
<div class="container">

    <div class="modal fade" id="figure-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
              <div class="modal-body text-center"></div>
        </div>
      </div>
    </div>

{% if warning %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning:</strong> {{ warning }}
    </div>
{% endif %}

<div class="modal fade" id="ipho_exam-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Do you want to save changes before leaving?</h3>
      </div>
      <div class="modal-body">
        <p>Your changes will be lost if you don't save them.</p>
      </div>
      <div class="modal-footer">
          <div class="pull-left">
              <button type="button" class="btn btn-default" data-action="discard">Discard changes</button>
          </div>
          <div class="pull-right">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-action="save">Save changes</button>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="page-header">
    <div class="dropdown pull-right">
      <a class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
{% if exam %}
        {{ exam.name }}
{% else %}
        Select exam
{% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
    {% for ex in exam_list %}
        <li {% if exam == ex %} class="active" {% endif %}><a href="{% url 'exam:editor-exam' exam_id=ex.pk %}">{{ ex.name }}</a></li>
    {% endfor %}
      </ul>
    </div>
  <h1>Exam editor</h1>
</div>

<!-- <div class="page-header">
  <h2>Exam editor :

  <span class="title-dropdown dropdown">
    <a class="btn btn-link btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Theory Exam
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Demo Exam</a></li>
      <li class="active"><a href="#">Theory Exam</a></li>
      <li><a href="#">Experimental Exam</a></li>
    </ul>
  </span>
  </h2>
</div> -->

<ul class="nav nav-tabs">
    {% for q in exam.question_set.all %}
        <li {% if question == q %} class="active" {% endif %}><a href="{% url 'exam:editor-question' exam_id=exam.pk question_id=q.pk %}">{{ q.name }}</a></li>
    {% endfor %}
</ul>

{% if question %}
    <form method="post" action="" charset="utf8" id="ipho_exam-form">
        {% csrf_token %}
        <h3>{{ question.name }}</h3>

        <div class="row">
            <div class="col-xs-5">
                <h4>Original:
                <span class="dropdown">
                  <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ orig_lang.name }}
                    {% if orig_lang.versioned %}<span class="badge">v{{ orig_lang.version }}</span>{% endif %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      {% if trans_lang %}
                          {% for l in question_langs %}
                              <li {% if orig_lang == l %} class="active" {% endif %}>
                                  <a href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=question.pk orig_id=l.pk lang_id=trans_lang.pk %}">
                                      {{ l.name }}
                                      {% if l.versioned %}<span class="badge">v{{ l.version }}</span>{% endif %}
                                  </a></li>
                          {% endfor %}
                      {% else %}
                          {% for l in all_lang %}
                              <li {% if orig_lang == l %} class="active" {% endif %}><a href="{% url 'exam:editor-orig' exam_id=exam.pk question_id=question.pk orig_id=l.pk %}">{{ l.name }}</a></li>
                          {% endfor %}
                      {% endif %}
                  </ul>
                </span>

                {% if orig_lang.versioned %}
                    <small>
                    Compare to:
                    <span class="dropdown">
                      <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                        {% if orig_diff %}v{{ orig_diff }}{% endif %}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          {% for v in question_versions %}
                              <li {% if orig_diff == v %} class="active" {% endif %}>
                                  {% if trans_lang %}
                                      <a href="{% url 'exam:editor-origdiff-lang' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk orig_diff=v lang_id=trans_lang.pk %}">v{{ v }}</a>
                                  {% else %}
                                      <a href="{% url 'exam:editor-origdiff' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk orig_diff=v %}">v{{ v }}</a>
                                  {% endif %}
                              </li>
                          {% endfor %}
                      </ul>
                    </span>
                    </small>
                {% endif %}
                </h4>
            </div>

            <div class="col-sm-2 text-center">
            </div>

            <div class="col-xs-5">
                <h4>Translate to:
                <span class="dropdown">
                  <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {% if trans_lang %}
                        {{ trans_lang.name }}
                    {% else %}
                        Select language
                    {% endif %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      {% for l in own_lang %}
                          <li {% if trans_lang == l %} class="active" {% endif %}><a href="{% url 'exam:editor-orig-lang' exam_id=exam.pk question_id=question.pk orig_id=orig_lang.pk lang_id=l.pk %}">{{ l.name }}</a></li>
                      {% endfor %}
                  </ul>
                </span>
                </h4>
            </div>
        </div>


        <div class="translation-field-container">
            {% include 'ipho_exam/editor_field.html' with fields_set=content_set %}
        </div>

        {% if form %}
        <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <div class="navbar-right">
                <a class="btn btn-success navbar-btn" target="_blank" href="{% url 'exam:pdf' question_id=question.pk lang_id=trans_lang.pk %}"><i class="fa fa-fw fa-file-pdf-o"></i> View PDF</a>
                <button type="submit" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>

          </div>
        </div>
        {% endif %}
    </form>
{% endif %}
</div> <!-- /container -->

{% endblock %}



{% block extra-script %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            showMathMenu: false,
        });
    </script>
    <script src="{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/adapters/jquery.js" %}"></script>
    <script src="{% static "jquery-dirtyforms/jquery.dirtyforms.min.js" %}"></script>
    <script src="{% static "jquery-dirtyforms/plugins/jquery.dirtyforms.dialogs.bootstrap.min.js" %}"></script>
    <script>
        CKEDITOR.plugins.addExternal( 'Jsvk', '{% static "ckeditor_plugins/Jsvk/" %}', 'plugin.js' );

        CKEDITOR.config.toolbar = [
                [ 'Bold', 'Italic', 'Underline', '-', 'Mathjax', '-', 'BidiLtr', 'BidiRtl', '-', 'Jsvk']
            ];
        CKEDITOR.config.forcePasteAsPlainText = true;
        CKEDITOR.config.resize_enabled = false;
        CKEDITOR.config.extraPlugins = 'Jsvk,autogrow,widget,bidi,mathjax';
        CKEDITOR.config.removePlugins = 'elementspath,contextmenu,tabletools,liststyle';
        // CKEDITOR.config.extraAllowedContent = 'span(math-tex)';
        CKEDITOR.config.width = '100%';
        CKEDITOR.config.autoGrow_onStartup = true;
        CKEDITOR.config.autoGrow_minHeight = 0;
        CKEDITOR.config.autoGrow_bottomSpace = 10;
        CKEDITOR.config.entities = false;
        CKEDITOR.config.htmlEncodeOutput = false;
        CKEDITOR.config.basicEntities = false;
        CKEDITOR.config.entities_latin = false;
        CKEDITOR.config.entities_greek = false;
        CKEDITOR.config.disableNativeSpellChecker = false;
        CKEDITOR.config.autoParagraph = false;
        CKEDITOR.config.mathJaxLib = '{% static "MathJax/MathJax.js" %}?config=TeX-AMS-MML_HTMLorMML';
        CKEDITOR.config.jsvk_skin = "flat_gray";

        all_editors = new Array();

        function content2math() {
            // convert equations for mathquill
            // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<img class="mathImg" title="$1" src="http://latex.codecogs.com/svg.latex?$1" />');
            // var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="mathquill-embedded-latex" data-cke-survive=1>$1</span>');

            // convert equations for mathjax
            // TODO: remove once the tests have been converted to \( \) format. $ $ is too dangerous, since it might delimit two prices in dollars.
            var newtext = $(this).html().replace(/\$(.+?)\$/g, '<span class="math-tex">\\($1\\)</span>');
            $(this).html(newtext);
            MathJax.Hub.Queue(["Typeset",MathJax.Hub, this]);
        }

        $(function(){

            $(".translate-original").each(content2math);
            $(".translate-foreign").each(content2math);

            $(".translate-copy-button").click(function( event ) {
                field_id =  $(this).attr('id').replace('-copy', '');
                orig = '#' + $(this).attr('id').replace('-copy', '-original');
                if (field_id in all_editors)
                    all_editors[field_id].setData($(orig).data('original-text'));
                else
                    $('#'+field_id+'-translate input[type="text"]').val($(orig).data('original-text'));
                event.preventDefault();
            });


            $('.translate-foreign textarea').each(function() {
                myid = $(this).parent().attr('id').replace('-translate', '');
                // all_editors[myid] = CKEDITOR.replace(this);
                all_editors[myid] = $(this).ckeditor().editor;
                var textarea = $(this);
                all_editors[myid].on('change', function() { this.updateElement(); textarea.change(); });
            });

            /// For custom dialog: https://github.com/NightOwl888/jquery.dirtyforms.dialogs.bootstrap.dist#example
            // $.DirtyForms.dialog = {
            //             dialogID: 'dirtyform-modal',
            //             titleClass: 'custom-title',
            //             messageClass: 'custom-message',
            //             proceedButtonClass: 'custom-proceed',
            //             stayButtonClass: 'custom-stay'
            //         }
            $.DirtyForms.title = "Do you want to save changes before leaving?"
            $.DirtyForms.message = "Your changes will be lost if you don't save them."
            $('#ipho_exam-form').dirtyForms();

            // Figure preview
            $('#figure-modal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var button = $(event.relatedTarget); // Button that triggered the modal

                var href = button.attr('href');
                if (typeof href !== typeof undefined && href !== false) {
                  modal.find('.modal-body').html('<img src="'+href+'" />');
                } else {
                  var img_url = button.data('base-url');
                  var figparams = button.data('figparams');
                  if (Object.keys(figparams).length > 0) {
                    fig_query = new Object;
                    for (k in figparams) {
                      fig_query[k] = $('#id_'+figparams[k]).val();
                    }
                    img_url += '?' + $.param(fig_query);
                  }
                  modal.find('.modal-body').html('<img src="'+img_url+'" />');
                }
            });

        });

    </script>

{% endblock %}
