

{% for field in fields_set %}
    {% if field.heading %}
    <div class="row">
        <div class="col-xs-12 translation-field-nested">
            <h4>{{ field.heading }}
            {% if field.description %} <br /> <span class="small">{{ field.description }}</span> {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}

    {% if field.original != None %}
        <div class="row">
            <div class="col-xs-9">
                <div class="translate-original {% if orig_lang.direction == 'rtl' %}rtl{% endif %}" id="{{ field.id }}-original" data-original-text="{{ field.original | escape }}">
                    {{ field.original_html|safe }}
                </div>
            </div>
        <!-- button -->
          <div class="col-sm-3 text-center" style="display: table-cell; vertical-align: middle;">
            <button type="button" class="btn btn-sm btn-default translate-copy-button" id="{{ field.id }}" aria-label="View feedback" title="View feedback" data-toggle="modal" data-target="#feedback-modal">
              View feedback
            </button>
          </div>
        </div>
    {% elif field.original_html %}
        <div class="row">
            <div class="col-xs-9">
                <div class="{% if trans_lang.direction == 'rtl' %}rtl{% endif %}">
                    {{ field.original_html|safe }}
                </div>
            </div>
            <div class="col-sm-3 text-center" style="display: table-cell; vertical-align: middle;">
              <button type="button" class="btn btn-sm btn-default translate-copy-button" id="{{ field.id }}" aria-label="View feedback" title="View feedback" data-toggle="modal" data-target="#feedback-modal">
                View feedback
              </button>
            </div>
        </div>
    {% endif %}

    {% if field.children %}
    <div class="row">
        <div class="col-xs-12 translation-field-nested">
            {% include 'ipho_exam/exam_view_field.html' with fields_set=field.children %}
        </div>
    </div>
    {% endif %}

{% endfor %}
