{% extends "ipho_exam/base.html" %}
{% load static %}
{% load exam_utils_tags %}
{% load crispy_forms_tags %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}

</style>
{% endblock %}

{% block breadcrumb %}
<li class="active">Exam feedbacks</li>
{% endblock %}

{% block pageheader %}<h1>Exam feedbacks</h1>{% endblock %}

{% block exam-content %}
    <p class="lead">
        Use the exam feedbacks to submit any comment you want to report to the organizers.
    </p>
    <ul>
        <li>Exams feedbacks are available only for a limited time, after the official presentation and before the final discussion.</li>
        <li>Feebacks are shown to all delegations.</li>
        <li>
          The first column shows the status of your report.
          It will change from <mark>Submitted</mark> to either <mark>Scheduled for Voting</mark> or <mark>Settled</mark>. If implemented it will chang to <mark>Implemented</mark>.
        </li>
    </ul>

    <div class="modal fade" id="feedback-modal" tabindex="-1">
      <div class="modal-dialog">
          <form method="post" action="">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">Add organizer comment</h4>
          </div>

              <div class="modal-body">
                {{ form }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>

        </div>
          </form>
      </div>
    </div>

    <div id="alerts-container"></div>


    <div style="">
          <div class="dropdown div-inline" style="float: left;" >
            <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          {% if status %}
              {{ status }}
          {% else %}
              Filter Status
          {% endif %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% this_url st=None %}">-- None --</a></li>
          {% for st in status_choices %}
              <li {% if status == st %} class="active" {% endif %}><a href="{% this_url st=st.0 %}">{{ st.1 }}</a></li>
          {% endfor %}
            </ul>
          </div>

          <div class="dropdown div-inline" style="float: left; padding-left: 5px;">
            <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          {% if question %}
              {{ question.name }}
          {% else %}
              Filter Question
          {% endif %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% this_url qu=None %}">-- None --</a></li>
          {% for qu in questions %}
              <li {% if question == qu %} class="active" {% endif %}><a href="{% this_url qu=qu.pk %}">{{ qu.name }}</a></li>
          {% endfor %}
            </ul>
          </div>
    </div>
  </br>


    {% for ex in exam_list %}
    <h3>
        {{ ex.name }}

    </h3>
    <table class="table table-striped feedback-table" id="feedback-table-{{ex.pk}}">
      <thead>
      <tr>
          <th>#</th>
          <th>Status</th>
          <th>Delegation</th>
          <th>Question</th>
          <th>Part</th>
          <th>Comment</th>
          <th>Timestamp</th>
          <th style="width:170px">Actions</th>
          {% if perms.ipho_core.is_staff %}
          <th>Commments</th>
          {% endif %}
      </tr>
    </thead>
      <tbody id="exam-tbody-{{ ex.pk }}"></tbody>
    </table>
    {% endfor %}

{% endblock %}

{% block extra-script %}
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).on('submit', '#feedback-modal form', function(evt) {
        var form = evt.target;
        var $form = $(form);
        evt.preventDefault();
        var data = new FormData($form.get(0));
        $.ajax({
            url: form.action,
            type: form.method,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                if (!data['success']) {
                    $('#translation-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                    return;
                }

                update_feedbacks(data['exam_id']);

                $('#feedback-modal').modal('hide');
                $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');

            }
        });
    });


    $('#feedback-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var fid = button.attr('id');
        var modal = $(this);
        var url =  "{% url 'exam:feedback-add-comment' %}/"+fid;

        $.ajax({
            method: "GET",
            url: url,
        }).done(function( data ) {
          modal.find("form").attr('action', url);
          modal.find('.modal-body').html(data['form']);
          modal.find('.modal-title').html(data['title']);
        });
        //modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        //modal.find('.modal-body').html('');

    })

    function update_feedbacks(tid) {
        $.ajax({
            method: "GET",
            url: "{% this_url %}/",
            data:{exam_id:tid},
            dataType: "html",
        }).done(function( data ) {

            $("#exam-tbody-"+tid).html(data);
            $("time[data-format]").each(function () {
                var el = $(this);
                var dt = moment(el.attr("datetime"));
                el.text(dt.format(el.data("format")));
            });
            $('#feedback-table-'+tid).DataTable({
              columnDefs: [
   { type: 'natural', targets: 4 }
 ]
            });
        });
    }

    {% for ex in exam_list %}
    update_feedbacks({{ ex.pk }});
    {% endfor %}



});
</script>
{% endblock %}
