{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>IPhO Exams</h1>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Language created!</strong> The new languages has successfully been created.
    </div>
    
    
    <div class="row">
        <div class="col-md-3">
          {% include "ipho_exam/panels/languages.html" %}
        </div>
        
        <div class="col-md-3">
          {% include "ipho_exam/panels/editor.html" %}
        </div>
        
        <div class="col-md-3">
          {% include "ipho_exam/panels/view.html" %}
        </div>
        
        <div class="col-md-3">
          {% include "ipho_exam/panels/submit.html" %}
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}