{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>Exams tools</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Step-by-step</h3></div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'exam:wizard' %}">
                        Get started!
                        <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Translations</h3></div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'exam:language-list' %}">
                        Define languages
                        <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'exam:list' %}">
                        Your translations
                        <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'exam:submission-exam-list' %}">
                        Final submission
                        <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Feedbacks</h3></div>
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'exam:feedbacks-list' %}">
                        Submit exam feedbacks
                        <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}
