{% extends "ipho_exam/submission_base.html" %}
{% load static %}
{% load editor_extras %}

{% block assign-classes %}{{ DEMO_MODE|yesno:",disabled" }}{% endblock %}
{% block confirm-classes %}{{ DEMO_MODE|yesno:",disabled" }}{% endblock %}
{% block submitted-classes %}active{% endblock %}

{% block step-content %}
<div class="alert alert-success">
<strong>Submission completed!</strong>
The submission of the following exam has been completed.
</div>

{% if DEMO_MODE %}
<div class="alert alert-info" role="alert"><strong>DEMO VERSION.</strong> In the demo version you are still allowed to edit the exam. In the real case this will no longer be possible.</div>
{% endif %}

{% if msg %}
<div class="alert alert-danger" role="alert"><strong>{{ msg }}</strong> </div>
{% endif %}

<p>
The exams will be printed shortly. Below you can see the final version that has been submitted.
</p>

{% endblock %}

{% block exam-submission-content %}
    {% if no_answer %}
      <p><i class="fa fa-check"></i> translation selected for delivery.</p>
    {% else %}
    {% if fixed_answer_language %}
      <p><i class="fa fa-check"></i> translation selected for delivery, <i class="fa fa-check"></i><i class="fa fa-check"></i> translation selected for delivery with answer sheets, <b>A</b> only answer sheets selected for delivery.</p>
    {% else %}
      <p><i class="fa fa-check"></i> translation selected for delivery, <i class="fa fa-check"></i><i class="fa fa-check"></i> translation selected for delivery with answer sheets.</p>
    {% endif %}
    {% endif %}
    <table class="table table-striped">
        <tr>
            <th></th>
            {% for lang in official_languages %}
              <th class="text-center">{{ lang.name }} ({{ lang.delegation.country }})</th>
            {% endfor %}
          {% for lang in languages %}
            <th class="text-center">{{ lang.name }} ({{ lang.delegation.country }})</th>
          {% endfor %}
        </tr>
        <tbody>
      {% for ss,stud_langs in students_languages.items %}
      <tr>
          <td>
              {{ ss.first_name }} {{ ss.last_name }} ({{ ss.code }})
              {% for doc in stud_documents|lookup:ss.pk %}
              <a class="btn btn-xs btn-default" target="_blank" title="Preview PDF" href="{% url 'exam:pdf-exam-pos-student'  exam_id=exam.pk student_id=ss.pk position=doc.position %}"><i class="fa fa-file-pdf-o"></i> #{{ doc.position }}</a>
              {% endfor %}
          </td>
          {% for lang,checked in stud_langs.items %}
              <td class="text-center">
                  {% if checked == 'Q' %}
                    <i class="fa fa-check"></i>
                  {% elif checked == 'A' %}
                    <b>A</b>
                  {% elif checked == 'QA' %}
                    <i class="fa fa-check"></i><i class="fa fa-check"></i>
                  {% else %}
                    -
                  {% endif %}
              </td>
          {% endfor %}
      </tr>
      {% endfor %}
        </tbody>
    </table>
{% endblock %}
