{% extends "ipho_exam/submission_base.html" %}
{% load static %}

{% block assign-classes %}{% endblock %}
{% block confirm-classes %}active{% endblock %}
{% block submitted-classes %}disabled{% endblock %}

{% block step-content %}
<p>A final preview of the translation is available with the <span class="btn btn-xs btn-default"><i class="fa fa-file-pdf-o"></i> Preview</span> button. Be sure to check the final layout before proceeding.</p>

{% endblock %}

{% block exam-content %}
<form method="post" action="{% url 'exam:submission-exam-confirm' exam_id=exam.pk %}">
    {% csrf_token %}
    <p><i class="fa fa-check"></i> translation selected for delivery, <i class="fa fa-check"></i><i class="fa fa-check"></i> translation selected for delivery with answer sheets.</p>
    <table class="table table-striped">
        <tr>
            <th></th>
            {% for lang in official_languages %}
              <th class="text-center">{{ lang.name }}</th>
            {% endfor %}
          {% for lang in languages %}
            <th class="text-center">{{ lang.name }}</th>
          {% endfor %}
        </tr>
        <tbody>
      {% for ss,stud_langs in students_languages.items %}
      <tr>
          <td>
              {{ ss.first_name }} {{ ss.last_name }} ({{ ss.code }})
              <a class="btn btn-xs btn-default" target="_blank" title="Preview PDF" href="{% url 'exam:pdf-exam-student'  exam_id=exam.pk student_id=ss.pk %}"><i class="fa fa-fw fa-file-pdf-o"></i> Preview</a>
          </td>
          {% for lang,checked in stud_langs.items %}
              <td class="text-center">
                  {% if checked == 'Q' %}
                    <i class="fa fa-check"></i>
                  {% elif checked == 'A' %}
                    <i class="fa fa-check"></i><i class="fa fa-check"></i>
                  {% else %}
                    -
                  {% endif %}
              </td>
          {% endfor %}
      </tr>
      {% endfor %}
        </tbody>
    </table>

    <div class="alert {% if form_error %}alert-danger{% else %}alert-warning{% endif %}">
        <div class="checkbox">
            {% if form_error %}
                <div class="help-block">{{ form_error|safe }}</div>
            {% endif %}
          <label>
            <input type="checkbox" autocomplete="off" name="agree-submit"> I understand that this is the final submission of the exam translation. I will have no further possibility to change it.
          </label>
        </div>
    </div>

    <div>
        <a class="btn btn-default" href="{% url 'exam:submission-exam-assign' exam_id=exam.pk %}">Back</a>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o fa-fw"></i> Submit</buton>
        </div>
    </div>

</form>
{% endblock %}
