{% extends "ipho_exam/submission_base.html" %}
{% load static %}
{% load exam_utils_tags %}

{% block assign-classes %}active{% endblock %}
{% block confirm-classes %}disabled{% endblock %}
{% block submitted-classes %}disabled{% endblock %}

{% block step-content %}
<p>Select the languages that you want to deliver to your students. For each student more than one language can be delivered.</p>
<p>A final preview of the translation is available with the <i class="fa fa-file-pdf-o"></i> button. Be sure to check the final layout before proceeding.</p>
{% endblock %}

{% block exam-content %}
<form method="post" action="{% url 'exam:submission-exam-assign' exam_id=exam.pk %}">
    {% csrf_token %}
    <table class="table table-striped">
        <tr>
            <th></th>
          {% for lang in languages %}
            <th class="text-center">{{ lang.name }}</th>
          {% endfor %}
        </tr>
        <tbody>
      {% for ss,form in submission_forms %}
      <tr>
          <td>{{ ss.first_name }} {{ ss.last_name }} ({{ ss.code }}) {{ form.languages.errors }}</td>
          {% for lang_id,oval in form.languages.field.choices %}
              <td class="text-center">
                  <div class="checkbox">
                  <label>
                      <input type="checkbox" autocomplete="off" name="{{ form.languages.html_name }}" value="{{ lang_id }}" {% if lang_id in form.languages.value|intlist %}checked{% endif %} />
                      deliver
                  </label>
                </div>
                <div class="radio {% if not checked.lang_check %}disabled{% endif %}">
                  <label>
                    <input type="radio" name="assign-{{ ss.pk }}-answers" value="{{ lang.pk }}" {% if checked.with_answer %}checked{% endif %} {% if not checked.lang_check %}disabled{% endif %}/>
                    with answer sheets
                  </label>
                </div>
              </td>
          {% endfor %}
      </tr>
      {% endfor %}
        </tbody>
    </table>

    <div>
        <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Next >>" />
        </div>
    </div>

</form>
{% endblock %}
