{% extends "ipho_exam/base.html" %}
{% load static %}
{% load exam_utils_tags %}
{% load crispy_forms_tags %}

{% block extra-head %}
<style>
.asteriskField {
    display: none;
}

</style>
{% endblock %}

{% block breadcrumb %}
<li class="active">Delegation submissions</li>
{% endblock %}

{% block pageheader %}
<h1>Delegation submissions</h1>
{% endblock %}

{% block exam-content %}
<div class="modal fade" id="upload-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <form method="post" action="">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
      </form>
    </div>
  </div>
</div>


<div id="alerts-container"></div>

    <p class="lead">
        This table lists all the submissions made by your delegation team.
    </p>

    <table class="table table-bordered feedback-table" id="submission-table">
      <thead>
        <tr>
            <th class="col-sm-01">#</th>
            <th>Exam</th>
            <th>Q#</th>
            <th>Participant</th>
            <th>Exam code</th>
            <th class="col-sm-1">File</th>
            <th class="col-sm-1">Combined with no coverpages</th>
            <th class="col-sm-2">
              Scans
              {% if docs %}
              <div>
                <a class="btn btn-default btn-xs" id="upload-many" data-toggle="modal" data-target="#upload-modal" data-remote="false" href="{% url 'exam:submission-delegation-submitted-scan-many' %}">
                  <i class="fa fa-fw fa-upload"></i>
                  upload many
                </a>
              </div>
              {% endif %}

            </th>
        </tr>
      </thead>
        {% for d in docs %}
        {% if d.position == 0 %}<tbody id="submission-table-{{ d.participant__id }}" class="student-docs">{%endif%}
        <tr>
          <td>{{ d.pk }} </td>
          {% if d.position == 0 %}
          <td rowspan="{{d.max_position}}" style="vertical-align: middle;">
            {{ d.participant__exam__name }}
          </td>
          {% endif %}
          <td>{{ d.position }}</td>
          {% if d.position == 0 %}
          <td rowspan="{{d.max_position}}" style="vertical-align: middle;">
            {{ d.participant__code }}
          </td>
          {% endif %}
          
          <td>{{ d.barcode_base }}</td>
          <td>
            <a class="btn btn-default btn-xs single-doc" id="submission-{{ d.participant__exam__id }}-{{ d.participant__id }}-{{ d.position }}" href="{% url 'exam:pdf-exam-pos-participant'  exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}"><i class="fa fa-fw fa-file-pdf-o"></i>exam</a>
          </td>
          {% if d.position == 0 %}
          <td rowspan="{{d.max_position}}" style="vertical-align: middle;">
            <a class="btn btn-default btn-xs combine-all" download="{{ d.participant__exam__name }}-{{ d.participant__code }}.pdf"><i class="fa fa-plus-square-o"></i> Combine</a>
          </td>
          {% endif %}
          <td>
            {% if d.position != 0 %}
            <a class="btn btn-default btn-xs" id="upload-{{ d.participant__exam__id }}-{{ d.participant__id }}-{{ d.position }}" examcode="{{ d.barcode_base }}" data-toggle="modal" data-target="#upload-modal" data-remote="false" href="{% url 'exam:submission-delegation-submitted-scan-upload' exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}"><i class="fa fa-fw fa-upload"></i> upload</a>
            {% if d.scan_file %}
            <a class="btn btn-default btn-xs" id="scan-{{ d.participant__exam__id }}-{{ d.participant__id }}-{{ d.position }}" href="{% url 'exam:scan-exam-pos-participant' exam_id=d.participant__exam__id participant_id=d.participant__id position=d.position %}"><i class="fa fa-fw fa-file-pdf-o"></i> scan</a>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% if d.position == d.max_position %}</tbody>{%endif%}
      {% endfor %}
    </table>

{% endblock %}


{% block extra-script %}
<script src="{% static '/pdflib/pdf-lib.min.js' %}"></script>
<script>
$(function() {
    // Get csrftoken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function upload_form_and_data(launchButton, form, fd, hide=false) {
      const cell = launchButton.parent('td');
      const button_str = cell.find("[examcode]").prop('outerHTML');
      cell.html(
        button_str+'\n'+
        '<a class="btn btn-default btn-xs"><i class="fa fa-spinner fa-pulse"></i> uploading</a>'
      );
      $.ajax({
        url: form.action,
        type: form.method,
        data: fd,
        contentType: false,
        processData: false,
        success: function(data) {
            if (!data['success']) {
                $('#upload-modal .modal-body').html(data['form']).find("[data-toggle=popover]").popover();
                return;
            }

            cell.html(
              button_str+'\n'+
              '<a class="btn btn-default btn-xs" href="'+data['download_link']+'"><i class="fa fa-fw fa-file-pdf-o"></i> scan</a>'
            );
            // TODO: update data in table
            // $('#languages-tbody').html(data['tbody']);
            if(hide) {
              $('#upload-modal').modal('hide');
            }
            // $('#alerts-container').prepend('<div class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>'+data['message']+'</div>');
        }
      });
    };

    // Upload modal
    $(document).on('submit', '#upload-modal form', function(evt) {
        evt.preventDefault();
        var form = evt.target;
        var $form = $(form);
        
        var modal = $("#upload-modal");
        
        if(form.action.endsWith("many")){
          valid_options = $(".btn[examcode]").map(function(){
            var text = $(this).attr("examcode");
            return {regex: new RegExp(text.replace(" ", "[ _-]"), "gm"), button: this};
          }).get();

          var files = $form.find('input[name="files"]')[0].files;
          for (let i = 0; i< files.length; i++ ) { 
            const file = files[i];
            var success = false;
            for (let j in valid_options) {
              const valid = valid_options[j];
              if(valid.regex.test(file.name)) {
                success = true;
                const launchButton = $(valid.button);
                const href = launchButton.attr("href");
                modal.find('form').attr('action', href);

                var fd = new FormData();
                fd.append('file', file);
                upload_form_and_data(launchButton, form, fd);
                break;
              }
            };
            if(!success) {
              console.log(file.name, "ignored and skipped");
            };
          };
          $('#upload-modal').modal('hide');
        } else {
          var file = $form.find('input[name="file"]')[0].files[0];
          var fd = new FormData();
          fd.append('file', file);
          const launchButton = modal.data('launchButton');
          upload_form_and_data(launchButton, form, fd, hide=true);
        }

    });

    // Open Modal
    $('#upload-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var href = button.attr('href');
        var modal = $(this);
        modal.data('launchButton', button);

        modal.find('.modal-title').html('<i class="fa fa-spinner fa-pulse"></i> Loading...');
        modal.find('.modal-body').html('');

        $.ajax({
            url: href,
            dataType: 'json',
            success: function(data) {
                modal.find('.modal-title').text(data['title']);
                modal.find('form').attr('action', href);
                modal.find('.modal-body').html(data['form']);
                modal.find('button[type="submit"]').text(data['submit']);
                modal.find("[data-toggle=popover]").popover(); // activate popover
            },
        });
    })

    {% include "ipho_exam/partials/merge_pdf_clientside.js"%}
    $(".combine-all").click({% if include_cover %}merge_on_click_remove_cover{% else %}merge_on_click{% endif %});
});
</script>
{% endblock %}
