{% extends "ipho_exam/submission_base.html" %}
{% load static %}
{% load editor_extras %}

{% block assign-classes %}{% endblock %}
{% block confirm-classes %}active{% endblock %}
{% block submitted-classes %}disabled{% endblock %}

{% block step-content %}
<p>A final preview of the translation is available with the <span class="btn btn-xs btn-default"><i class="fa fa-file-pdf-o"></i></span> button. Be sure to check the final layout before proceeding.</p>

<div class="alert alert-info hide-on-finished {{ all_finished|yesno:'hide,' }}">
<i class="fa fa-spinner fa-spin fa-2x pull-left"></i>
The final documents are being prepared. You have to wait until all documents are successfully generated before proceeding.
</div>

{% endblock %}

{% block exam-submission-content %}
<form method="post" action="{% url 'exam:submission-exam-confirm' exam_id=exam.pk %}">
    {% csrf_token %}
    {% if no_answer %}
      <p><i class="fa fa-check"></i> translation selected for delivery.</p>
    {% else %}
    {% if fixed_answer_language %}
      <p><i class="fa fa-check"></i> translation selected for delivery, <i class="fa fa-check"></i><i class="fa fa-check"></i> translation selected for delivery with answer sheets, <b>A</b> only answer sheets selected for delivery.</p>
    {% else %}
      <p><i class="fa fa-check"></i> translation selected for delivery, <i class="fa fa-check"></i><i class="fa fa-check"></i> translation selected for delivery with answer sheets.</p>
    {% endif %}
    {% endif %}
    <table class="table table-striped">
        <tr>
            <th></th>
            {% for lang in official_languages %}
              <th class="text-center">{{ lang.name }} ({{ lang.delegation.country }})</th>
            {% endfor %}
          {% for lang in languages %}
            <th class="text-center">{{ lang.name }} ({{ lang.delegation.country }})</th>
          {% endfor %}
        </tr>
        <tbody>
      {% for ss,ppnt_langs in participants_languages.items %}
      <tr>
          <td>
              <div class="student-docs">
                  {{ ss.full_name }} ({{ ss.code }})
                  {% for doc in ppnt_documents|lookup:ss.pk %}
                  <a class="btn btn-xs btn-default single-doc" target="_blank" title="Preview PDF" id="preview-{{ ss.pk }}-{{ doc.position }}" href="{% url 'exam:pdf-exam-pos-participant'  exam_id=exam.pk participant_id=ss.pk position=doc.position %}" data-doc-status="loading"><i class="fa fa-spinner fa-spin"></i> #{{ doc.position }}</a>
                  {% endfor %}
                  <a class="btn btn-xs btn-default combine-all" title="Preview combined PDF{% if include_cover %} without coversheets{% endif %}" download="preview-{{ ss.code }}.pdf"><i class="fa fa-spinner fa-spin"></i> All</a>
              </div>
              <div>
                  {% if ss.is_group %}
                  contains:
                  <ul>
                  {% for s in ss.students.all %}
                  <li>{{ s.full_name }}</li>
                  {% endfor %}
                  </ul>
                  {% endif %}
              </div>
          </td>
          {% for lang,checked in ppnt_langs.items %}
              <td class="text-center">
                  {% if checked == 'Q' %}
                    <i class="fa fa-check"></i>
                  {% elif checked == 'A' %}
                    <b>A</b>
                  {% elif checked == 'QA' %}
                    <i class="fa fa-check"></i><i class="fa fa-check"></i>
                  {% else %}
                    -
                  {% endif %}
              </td>
          {% endfor %}
      </tr>
      {% endfor %}
        </tbody>
    </table>

    <div class="alert {% if form_error %}alert-danger{% else %}alert-warning{% endif %} show-on-finished {{ all_finished|yesno:',hide' }}">
        <div class="checkbox">
            {% if form_error %}
                <div class="help-block">{{ form_error|safe }}</div>
            {% endif %}
          <label>
            <input type="checkbox" autocomplete="off" name="agree-submit"> I understand that this is the final submission of the exam translation. I will have no further possibility to change it.
          </label>
        </div>
    </div>
    {% if DEMO_MODE %}
    <div class="alert alert-info" role="alert"><strong>DEMO VERSION.</strong> In the demo version you are still allowed to edit the exam after submitting this form. In the real case this will no longer be possible.</div>
    {% endif %}


    <div>
        <a class="btn btn-default" href="{% url 'exam:submission-exam-assign' exam_id=exam.pk %}">Back</a>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary show-on-finished {{ all_finished|yesno:',hide' }}"><i class="fa fa-paper-plane-o fa-fw"></i> Submit</buton>
        </div>
    </div>

</form>
{% endblock %}

{% block extra-script %}
{{ block.super }}
<script>
$(function() {

  var num_finished = 0;
  var tot_num = $('a[data-doc-status="loading"]').length;
  
  {% include "ipho_exam/partials/merge_pdf_clientside.js"%}
  
  function check_participant(idx, docs) {
    docs = $(docs);
    var num_finished_ppnt = 0;
    var tot_num_ppnt = $('.single-doc', docs).length;
    
    function check_doc_status(docs, $btn) {
      var href = $btn.attr('href');
      $.ajax({
        url: href+'/status',
        dataType: 'json',
        success: function(data) {
          taskReady = data['ready'];
          taskStatus = data['status'];
          taskFailed = data['failed'];

          if (taskFailed) {
            $btn.find('i').attr('class', 'fa fa-exclamation-triangle');
          } else if (taskReady) {
            $btn.find('i').attr('class', 'fa fa-file-pdf-o');
            num_finished += 1;
            num_finished_ppnt += 1;
            if (num_finished >= tot_num) {
              $('.show-on-finished').removeClass('hide');
              $('.hide-on-finished').addClass('hide');
            }
            if (num_finished_ppnt >= tot_num_ppnt) {

              $(".combine-all", docs).click({% if include_cover %}merge_on_click_remove_cover{% else %}merge_on_click{% endif %});
              $(".combine-all i", docs).removeClass("fa-spin fa-spinner").addClass("fa-plus-square-o");
            }
          } else {
            setTimeout(check_doc_status, 20000, docs, $btn);
          }
        },
      });
    }

    $('a[data-doc-status="loading"]', docs).each(function(i) {
      check_doc_status(docs, $(this));
    })
  }

  $('.student-docs').each(check_participant);

});
</script>
{% endblock %}
