{% extends "ipho_exam/base.html" %}
{% load static %}

{% block breadcrumb %}
<li class="active">Step-by-step</li>
{% endblock %}

{% block pageheader %}<h1>Step-by-step guide</h1>{% endblock %}

{% block exam-content %}
    <p class="lead">
        The following steps will guide you through the translation process.
    </p>

    <div class="row">
        <div class="col-sm-3">
            {% if own_languages %}
            <p class="text-center text-success"><i class="fa fa-check-square-o fa-4x"></i></p>
            <p>There are {{ own_languages|length }} languages associated with your delegation.</p>
            <p class="text-center"><a class="btn btn-default" href="{% url 'exam:language-list' %}">View all <i class="fa fa-angle-double-right"></i></a></p>
            {% else %}
            <p>No languages.</p>
            <p class="text-center"><a class="btn btn-primary" href="{% url 'exam:language-list' %}"><i class="fa fa-plus fa-fw"></i> Create new</a></p>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <h2>1. Languages</h2>
            <p>Define a language for each translation you need to prepare and deliver to your participants.</p>
            <p>While adding a new language you can customize language specific settings, e.g. the writing direction, hyphenation style and font.</p>
            <p>Most delegation will only need to create a single language. If the delegation wants to deliver one of the official language versions to a participant, there is no need to define another new language version here.</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-3">
            {% if translations %}
            <p class="text-center text-success"><i class="fa fa-check-square-o fa-4x"></i></p>
            <p>There are {{ translations|length }} translations associated with your delegation.</p>
            <p class="text-center"><a class="btn btn-default" href="{% url 'exam:list' %}">View all <i class="fa fa-angle-double-right"></i></a></p>
            {% else %}
            <p>No translations.</p>
            <p class="text-center"><a class="btn btn-primary" href="{% url 'exam:list' %}"><i class="fa fa-plus fa-fw"></i> Create new</a></p>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <h2>2. Translations</h2>
            <p>Create and edit a translation of the exam questions for each language.</p>
            <p>Translations are editable only by your delegation but are visible also by others. This allows, for example, to collaborate with other delegations and split the amount of work.</p>
            <p>By default the translation editor comes with an auto-save option that regularly synchronize your work with our servers.</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <h2>3. Generate PDF of the exam</h2>
            <p>Once done with the translation you can click on the <code>PDF</code> button which generates a printable version of the exam question. This is a cpu-intensive operation that might take between seconds and minutes to terminate (depending on the server load). Please be patient, refreshing the page will not speed up the process, but rather restart it.</p>
            <p>If the final typesetting does not respect the expectations of your language style, please contact us at <a href="mailto:exam-tools-users@oly-exams.org"><i class="fa fa-envelope-o"></i> exam-tools-users@oly-exams.org</a>.</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-3">
            {% if exam_list|length == 0 %}
            Currently no exam is open for submissions.
            {% elif exam_list|length == exams_closed|length %}
            <p class="text-center text-success"><i class="fa fa-check-square-o fa-4x"></i></p>
            <p>You submitted all {{ exam_list|length }} exams.</p>
            <p class="text-center"><a class="btn btn-default" href="{% url 'exam:submission-exam-list' %}">View all <i class="fa fa-angle-double-right"></i></a></p>
            {% elif exams_closed %}
            <p>There are {{ exams_open|yesno:'still,' }} {{ exams_open|length }} on {{ exam_list|length }} exams open for submissions.</p>
            <p class="text-center"><a class="btn btn-primary" href="{% url 'exam:submission-exam-list' %}"><i class="fa fa-plus fa-fw"></i> Add new</a></p>
            {% else %}
            Currently no submissions.
            <p class="text-center"><a class="btn btn-primary" href="{% url 'exam:submission-exam-list' %}"><i class="fa fa-plus fa-fw"></i> Add new</a></p>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <h2>4. Submit for printing</h2>
            <p>In this final step you will assign languages to participants and submit the translations for the final printing. For example you can assign the <em>German (CHE)</em> version as well as the official <em>English (Official)</em> version as a reference.</p>
            <p>In the confirmation process you can review a printable version for the last time. In this final version you will notice that the answer sheets got provisioned with a unique barcode.</p>
        </div>
    </div>

{% endblock %}
